[2020-06-05 19:54] Mikesteinberg commented on #1834
Thanks again for the help. It appears I'm getting the same error still but it's slightly different this time, as I'm getting two counts of 404 response now.

[code]

[2020-06-05 19:59] nein09 commented on #1834
That looks like progress. Where's your main.css, and where is your openseadragon js file relative to that? I think that's the key here to help you put the correct relative path in `filename` for that static tag, so Flask can find it.

[2020-06-05 20:02] Mikesteinberg commented on #1834
My main.css is in the static folder, while my openseadragon.js file is nested several layers within the static folder, under
[code]

[2020-06-05 20:22] zero41120 commented on #1778
I don't really understand canvas transform, so I have not attempt to provide such change to OSD.
But I made this approximation function to convert path to polygon
[code]

Given a path's `d` string, you can convert that to path object that the above function uses:
[code]

[2020-06-06 01:46] nein09 commented on #1834
Hmmm. what does your Flask setup file look like?

[2020-06-08 12:54] Mikesteinberg commented on #1834
I believe __init__.py is what you're referring to. Here it is.
[code]

[2020-06-08 13:36] NEXCO-WestUSA commented on #1669
When will this enhancement be released?

[2020-06-08 14:01] NEXCO-WestUSA opened #1836 "Implementing interactive overlay grid"
Dear openseadragon team,

First of all I would like to thank you for creating and maintaining openseadragon. I have been using different zooming system for my apps, and this one is, no doubt, the best and more fluid I could ever find in the market.

I am trying to implement a interactive overlay grid on top of the images displayed in the viewer, so that the users can mark certain areas of the pict

[2020-06-08 16:50] alhuber1502 commented on #1819
OK, sorry this doesn't work for me at all.  Do you have/run a test suite that verifies expected behaviour for all supported tilesources?  I can't get this to work for either "image" or "zoomifytileservice".  Any ideas?

[2020-06-08 17:33] nein09 commented on #1834
OK, that all looks to me like it *should* work! I'm not sure what's going on here, honestly, unless you have something like two static folders or something really unusual going on. Sorry!

[2020-06-08 19:08] Mikesteinberg commented on #1834
Thanks again, I managed to sidestep the issue using the CDN version instead of npm. Most of it is working now apart from rendering the actual image. Currently getting the following when trying to do that:

[code]

[2020-06-09 13:33] Mikesteinberg opened #1837 "Can't zoom in past 1.1"
Hi, I'm trying to zoom in on an image rendered with Openseadragon. For some reason I can only zoom in to the 1.1 level, according to debugmode. Any idea why this might be the case? Thanks!

(this appears to be happening regardless of the tilesize of my dzi)

[2020-06-09 14:19] Mikesteinberg commented on #1837
Solved by changing MaxZoomPixelRatio

[2020-06-09 16:52] iangilman commented on #1827
Interesting. I'm not sure why fitBoundsWithConstraints would do the trick, but I'm glad it's working! Thank you for sharing your solution :-)

[2020-06-09 16:56] iangilman commented on #1828
@jj2883 I see! Thank you for the explanation.

I think in that case, my recommendation would be to use something like the SVG overlay plug-in. Then you can make polygons as needed and adjust their opacity however you want.

Another strategy (not as clean, but I'm mentioning for completeness) would be to load the same image twice into the viewer, stacked directly on top of each other. Use the clipp

[2020-06-10 09:03] INPUTsys-Chris commented on #1824
If there is anything I can help to get the issue solved please feel free to contact me.

[2020-06-11 16:28] iangilman commented on #1778
Cool. So this provides at least an approximate way to support arbitrary paths via the existing setCroppingPolygons mechanism? Are you proposing we add this directly to OpenSeadragon, or leave it as something people can call from outside?

[2020-06-11 16:36] iangilman commented on #1836
I imagine 2500 HTML overlays is enough to bog the system down, causing those errors. I recommend using one of our graphics-oriented overlay plug-ins. In your case, this is probably best:

https://github.com/joshua-gould/OpenSeadragonCanvasOverlayHd

With it, you draw the grid in canvas every frame, which means you can draw just the part that's visible, and you can also draw less grid detail when z

[2020-06-11 17:59] NEXCO-WestUSA commented on #1836
Thanks a lot! I will try these plugins and get back to you!

[2020-06-12 16:27] iangilman commented on #1819
Interesting. Can you share your code? We don't have specific tests for each combination of tile source with the reference strip.

The reference strip example page uses legacy tile source:

http://openseadragon.github.io/examples/ui-reference-strip/

You might take a look at the source for that page to see if it illuminates anything.

[2020-06-12 16:28] iangilman commented on #1837
Glad you got it sorted out :-)

[2020-06-12 16:29] iangilman commented on #1828
Looking good :-)

[2020-06-12 16:55] msalsbery commented on #1669
Hi @NEXCO-WestUSA

Finally getting real close, and just remembered this issue when I turned on verbose console mode on the new Chromium-based Edge (love that browser!)

Will update very soon...We will need to set passive false so I’m not sure the warnings will go away, but we’ll  see...

[2020-06-15 21:28] iangilman commented on #1312
I've just verified that it's working for me on the latest OSD (on iOS Safari) with both of the techniques listed above:

[code]

...or:

[code]

There must be some other issue at play. Can you share a repro (in CodePen or something like that) to show how you are getting the problem?

[2020-06-15 21:44] iangilman commented on #1825
Sure enough, referenceStripWidth and referenceStripHeight seem to only affect the reference strip itself. The reason the reference strip is so narrow is because of the `referenceStripWidth: 100`. Looks like you can change the size of the images themselves by using `referenceStripSizeRatio`. Something like 0.1 or smaller seems to do the trick.

Unfortunately the reference strip hasn't gotten a lot

[2020-06-15 21:51] jj2883 commented on #1312
@iangilman

The issue was fixed when I used a different example .dzi file.

I think it has to do with levels of the .dzi file, but I am not sure.

[2020-06-15 22:05] iangilman commented on #1826
Good catch! It looks like the reference strip responds to updates by calling `loadPanels`:

https://github.com/openseadragon/openseadragon/blob/48a18a6a7d93b49c36bbb6ce6569876c1d9f62ef/src/referencestrip.js#L410

...But it never detects that it needs to update on 'full-screen', so it never calls `loadPanels`. It exhibits the same problem when you resize the window.

I think a reasonable fix would

[2020-06-15 22:06] iangilman commented on #1825
A little more discussion about these parameters here: https://github.com/openseadragon/openseadragon/issues/1826

[2020-06-16 16:19] iangilman commented on #1312
Strange. Well, glad you got it sorted out.

[2020-06-17 10:16] zero41120 commented on #1778
@iangilman
We can probably add that and explicitly emphasize it is an approximation.
There might be 2 problems if the user doesn't know what they are doing.
But it really depends on the use case.
- With the default configuration (360 segments), a small square of 4 points will generate 360 segments that are mostly useless. If they use a ton of square path, performance may suffer.
- Also with defaul

[2020-06-19 02:07] msalsbery commented on #1824
@INPUTsys-Chris Sorry taking so long! Parallel development with a plugin I’m working on.

I can’t NOT use capture phase...also I can’t find any info that capture-phase events not getting to shadow DOM is not a bug. It really should work. If you can find any info related to that I’d love to see it.

Anyway I’ll check back in over the next few days...getting close to publishing some new stuff...

[2020-06-19 21:07] msalsbery commented on #1824
@INPUTsys-Chris I found a Web Hypertext Application Technology Working Group thread related to this (https://github.com/whatwg/dom/issues/685)

This is really a note to myself, but what I need to do (and you could do if you’d like) is make a simple page with the following DOM structure:

Host parent
Host
Shadow root
Parent
Child

Then on each of the four elements (2 DOM, 2 shadow DOM) add event ha

[2020-06-21 01:10] msalsbery commented on #1824
@INPUTsys-Chris  Now that I’ve studied the spec...have you tried an open shadow dom? I don’t think it’s going to work on closed. To work on closed we need to, in the times we respond to capture phase events, listen on the shadow dom’s top element (near the root) instead of document. Browsers that use a documentorshadow mixin it probably works, as document points to the base of the shadow dom as se

[2020-06-21 18:28] INPUTsys-Chris commented on #1824
Sorry, I'm not very familiar with dom events in shadow dom either. I'm just a regular Vaadin 14 user.

I just had a look at the OpenSeadragon source code again.

In updatePointersEnter, if there is a tracker.dragHandler can't we just return and do nothing?

I mean, it's ok to look at the way events SHOULD happen, but you could also ignore the events which don't fit into the current context.

[2020-06-21 23:24] msalsbery commented on #1824
@INPUTsys-Chris Cool thanks, mostly babbling to myself so I don’t forget lol

Anyway I think I have a fix... 🤞

[2020-06-21 23:27] chamster opened #1839 "Image disappears on page refresh in Wordpress"
I have a viewer in a Wordpress page. The first time I load the page, I can see the image, pan, zoom, etc.

When I reload the page, instead of the image I see a light grey box the size of the image, which I can pan and zoom, and I can see the navigator with a blue box instead of the image. But I can't see the image.

In Chrome, if I reload the page ctrl + shift + r (not loading from browser cache)

[2020-06-21 23:48] msalsbery commented on #1733
@j-hudecek Do you have an updated link to the bug in the original post?

What is the two finger scroll gesture and what do you expect to happen in an OpenSeadragon viewer when it’s used?

@iangilman I meant I didn’t find a PTP specific gesture so this issue is elsewhere (ie we need to add it perhaps?)

[2020-06-23 16:36] iangilman commented on #1839
That's a strange one! Basically, if the image is coming from the browser's memory cache, it doesn't load properly, but if it gets it from the server, it's fine.

I don't know the cause of the issue (something about your server?) but I have a few suggestions for possible fixes:

The simplest would probably be to add a randomized "cache buster" to the image URL so it never loads from the browser's c

[2020-06-23 16:38] iangilman commented on #1733
Gotcha. Everything is interconnected!

[2020-06-25 04:46] chamster commented on #1839
Thanks for the ideas. The "cache buster" seems like a good idea, but didn't change the behavior. See [https://terracomwebdesign.com/websites/theclovenproject/timeline-test-2/](https://terracomwebdesign.com/websites/theclovenproject/timeline-test-2/).

The legacy images probably aren't appropriate for my purpose mostly because I don't actually need to zoom. I just need to pan. I want to create a ti

[2020-06-25 16:45] iangilman commented on #1839
Odd that the cache buster isn't fixing it! It definitely seems to be loading it from the server each time, but it still doesn't show up. Very strange.

I'm suggesting the legacy tile source, because it's another way to do a "single image" just like you're doing with the image tile source, but it processes the image differently: the image tile source converts it into a canvas-based tile pyramid, wh

[2020-06-25 20:01] chamster commented on #1839
Thanks for your ideas.

I figured it the problem! I had installed and activated the Zoom OpenSeadragon plugin, and although I wasn't using it, I hadn't deactivated it. So I deactivated it and bam, no more problem with cached image. Sorry I wasted your time and didn't catch that sooner :-(

So now I'm trying to use multi image source in order to improve performance.

I've published these examples o

[2020-06-27 18:58] Medwar opened #1842 "HTML overlays trembling on mouse pan and zoom"
Greetings!

1) On zoom and pan with the mouse, particularly on animation, the HTML overlays are trembling +-1 px, creating a nasty visual effect.
If animationTime is set to 0,  no trembling occurs.
Could you please give an advice, why it happens and is there a way to get rid of it?

2) Moreover, when one of the overlays is dragged in chrome, the text or the lower line of some OTHER overlays notice

[2020-06-29 13:34] Medwar commented on #1842
Sorry. I found that this issue has already been raised.

Overlays wobble on drag (sub-pixel offsets rounding problem) #1474

[2020-06-29 17:46] iangilman commented on #1474
@msalsbery looks like you haven't done anything on this… Should we unassign you?

[2020-06-29 17:48] iangilman commented on #1842
Yes, that looks like the issue! I would say the proposed fix is still probably a good one, if you're up for tackling it.

Another approach is to use one of the alternative overlay systems available here:

http://openseadragon.github.io/#plugins

[2020-06-29 17:49] msalsbery commented on #1474
@iangilman yes, done! I have a large queue of assigned MouseTracker issues I’m into currently so it would be a while before I got to this. Thanks!

[2020-06-29 17:50] iangilman commented on #1474
Cool. Hopefully someone can take this on :-)

[2020-06-29 20:45] iangilman commented on #1799
Interesting. Can you share a repro? It wouldn't be the overlay math... just the regular OSD conversion functions, right?

[2020-06-29 21:04] iangilman commented on #1829
Apologies for the delayed response! Thank you for sharing this issue. I'd like to understand it better. Can you share your heatmap tilesource? When you say you need to use the rendered canvas, what does that mean? How is it different from the original? Do you have a repro you could share?

Ideally I would like to make sure this gets fixed in a way that addresses all of the concerns (including the

[2020-06-30 15:58] thec0keman opened #1843 "Inconsistency with setItemIndex and Navigator / World state"
When calling `setItemIndex` inside a `add-item` callback, there is an inconsistency in the World and Navigator states.  The former has the item that triggered the `add-item` callback, but World does not.

So, given this use case:
- add an item with viewer.addTiledImage
- code in `add-item` callback inspects world._items and determines that one of the items needs to be moved to top of the list, so

[2020-06-30 18:17] iangilman commented on #1839
Relying on a specific zoom value isn't going to work if your viewer isn't a fixed aspect ratio, since the zoom value is relative to the width of the viewer.

My recommendation is to not constrain zooming, but instead disable it. Turn off `showZoomControl` and set `zoomPerClick` and `zoomPerScroll` to 1 (these are all options when creating the viewer). I think that's enough to disable scrolling on

[2020-06-30 20:52] zero41120 commented on #1829
It is enterprise data and I can not publicly share it.
But it is just identical image as the regular viewer with some color calibration.

By default, the navigator loads a low quality image since it is small,
but we actually want to squeeze the full resolution of image in the navigator.
So we actually adds our tileSource image in the navigator, which a custom navigator which is significantly large

[2020-07-01 02:15] Medwar commented on #1474
Thank you guys, i've fixed it, works like a charm.
I will have to test rotation and cross-browserness as well.

I am going to contribute this later after I test it for a while.

line 17283:
`        drawHTML: function(container, viewport) {
            var element = this.element;
            if (element.parentNode !== container) {
                //save the source parent for later if we need it

[2020-07-01 02:20] #1842 closed

[2020-07-01 08:45] rmd06 opened #1844 "Help: Pyramid image only shows upperleft quarter in html."
I create a pyramid folders of an W4668xH2026 image without overlap between tiles, and also generated an html to view the image in browser.

When I open the html in browser,I found that only the upperleft quarter of the image was shown.
No matter how I zoom or drag on the image, the remains part does not show, but is pure white.

Below is the details of the pyramid folders, jpg files (I also indica

[2020-07-01 08:55] rmd06 commented on #1844
The red box shows the visible region
![errorimage](https://user-images.githubusercontent.com/22294036/86224591-a6352280-bbbb-11ea-9428-e8676c66d5b8.png)

[2020-07-01 08:57] rmd06 commented on #1844
![1323123](https://user-images.githubusercontent.com/22294036/86224742-da104800-bbbb-11ea-9858-5781280a6804.png)

This is how the html looks like.

[2020-07-01 11:51] sunnylubana1 opened #1845 "Issue in loading tiles on particular level in openseadragon viewer"
I have implemented openseadragon viewer on one of my [website](https://iamebook.com/). This is related to eBooks read and download. So for display page I used openseadragon. Its working fine for all books except one. You can check it from [here](https://iamebook.com/book/read/the-puzzle-of-conscious-experience/p-5/). The issue is right most column of tiles not displaying on default level. when me

[2020-07-01 12:19] rmd06 commented on #1844
When I rename the folder by increment the number by 1, then add another folder 0,then full image can be seen.
But I' not aware of what the problem might be.

[2020-07-01 12:50] #1844 closed

[2020-07-01 14:02] msalsbery commented on #1844
@rmd06 did you sort it out?

[2020-07-01 14:23] sunnylubana1 commented on #1845
This issue has been resolved this is happening due to deep zoom image issue with layer

[2020-07-01 14:24] #1845 closed

[2020-07-01 17:01] iangilman commented on #1474
Awesome! Thank you for doing this! I look forward to the pull request once you're happy with the testing results.

[2020-07-01 20:43] msalsbery opened #1846 "Integrate Prettier or ESLint Code Formatting"
Continuing the discussion at #1840 ...

It would be nice to use a modern code formatter to enforce a style across the OpenSeadragon codebase.

We already use [ESLint](https://eslint.org/), which in addition to its wonderful code quality rules, also has [**many** code formatting rules](https://eslint.org/docs/rules/) available. The sheer number and complexity of formatting rules is great because it

[2020-07-01 21:04] msalsbery commented on #1846
My opinions and arguments for using Prettier....

I'm a big fan of Prettier! Despite its extremely opinionated rule set and small list of configuration options, I have yet to see any formatting that I can't live with and wish I could turn off...to the point I'm actually using auto-fix-on-save/paste option in all my projects, something I never thought I'd use.

My preference is to use ESLint for re

[2020-07-01 21:26] msalsbery commented on #1837
@Mikesteinberg

I'm curious...was it a value you were using or the default that caused an issue?

[2020-07-01 21:27] msalsbery commented on #1837
...and can we close this issue? ;)

[2020-07-01 23:42] iangilman commented on #1846
From #1840:

OK, you've inspired me to figure out what's going on with my setup, because it definitely "works on my machine™"! Sure enough, I'm not just using Prettier after all… I'm using this plug-in for Atom:

https://atom.io/packages/prettier-atom

And I have this option turned on:

<img width="806" alt="image" src="https://user-images.githubusercontent.com/338989/86300518-ea262880-bbb7-11ea-9

[2020-07-02 03:47] msalsbery commented on #1846
@iangilman That's actually excellent info, thank you! You'll (hopefully) be pleased to know that my preferred proposal uses exactly what you're using!

First of all, I coincidentally just looked at the prettier-eslint package today, and although I personally don't need it in my projects, it's nice to know it's there if I do start seeing something that Prettier is doing that I don't like and I need

[2020-07-03 04:49] xlb opened #1848 "how to display the max level only?"
for example. i hava a big picture.it has 8 levels.usually i see 8,9,10,11.. .but now just want see the 16 only.it means i have only one layer.or how can i replace the 16 level by a twice width,twice heigt image replace; just like this.for a clearer image

 tileSource = {
          width:width * 2,
          height: width * 2,
          tileSize:.titleSize * 2,
          tileOverlap: 1
        }

[2020-07-03 06:28] vampire184 opened #1849 "Uncaught TypeError: Cannot read property 'currentPos' of undefined"
When I press and hold on the map, an exception will be reported，how to fix it?

openseadragon.js:5947 Uncaught TypeError: Cannot read property 'currentPos' of undefined
    at updatePointersDown (openseadragon.js:5947)
    at onPointerDown (openseadragon.js:5469)
    at HTMLDivElement.pointerdown (openseadragon.js:3337)

openseadragon.js:6389 Uncaught TypeError: Cannot read property 'currentPos' o

[2020-07-03 06:42] msalsbery commented on #1848
I’m not sure what you mean by level 16 on an image that has only 8 levels, but if you want a zoom factor of 2 times the native image size then something like this...

viewer.viewport.zoomTo((2.0 * this.imgWidth) / viewer.viewport.getContainerSize().x

...will give zoom factor of 2.0. Note if your viewer is resizable then you’ll have to zoomTo any time the size changes.

The [OpenSeadragonImagingHe

[2020-07-03 06:47] msalsbery commented on #1849
I think this issue has been reported and is being worked on.

What device, OS, browser, and browser version? Touch or mouse or both?

Thank you for reporting!

[2020-07-03 08:13] vampire184 commented on #1849
I use the developer options on the chrome browser and then select the simulated phone. I found that this problem occurs only in the touch event, but not in the mouse event. This problem will also appear in the demo of the official website.

[2020-07-03 15:59] rmd06 commented on #1844
Yes, I just rename the folder number to folder number + 1, and solved it.
It seems that OpenSeadragon has a prescribed image size for each unique number(folder name)(0,1,2,3....). I need to make the whhole image size at every folder level match the name of the folder.

[2020-07-03 18:00] msalsbery commented on #1846
@iangilman To clarify and for my own notes...

The ESLint plugins that I use implement code formatting rules like I proposed above:
- **eslint-config-prettier** Turns off all rules that are unnecessary or might conflict with Prettier
- **eslint-plugin-prettier** Runs Prettier as an ESLint rule and reports differences as individual ESLint issues
This combination uses only Prettier's  code formattin

[2020-07-04 09:53] rmd06 commented on #1844
Hi, I found that if I change the browser to Tradtional IE mode, then filter function works and no longer black. But it i use chrome browser mode, it failed. Is there a way to make it work in chrome mode?

[2020-07-06 17:40] lovasoa opened #1850 "Bundle only a single tilesource"
Hello,
  First, thank you very much for this great piece of software.
  I am currently adding a new feature to [dezoomify-rs](https://lovasoa.github.io/dezoomify-rs/) where I am bundling openseadragon. It's working great, but the library itself is quite voluminous (>200Kb minified). I think a large part of it is implementation of other tile sources that I will never use.
  Could OpenSeadragon dist

[2020-07-06 19:11] EinavSB opened #1851 "Wrong paper.view when moving between canvases"
Hi,

My page contains 2 canvases. For each of them I call:
paper.setup(this._canvas);

I register to the Mouse Move event in the following way:
paperTool = new paper.Tool();
paperTool.activate();
paperTool.attach('mousemove', PaperJSOnMouseMove);

I'm drawing a circle that moves together with the cursor.
When the cursor is passing between one canvas to another, the circle is rendered in a wrong po

[2020-07-07 00:49] iangilman commented on #1846
I'm happy to go with your proposed plug-in set up. How does this work for someone new on the project? Do they need to install something extra in their editor, or can they do it all from the command line if they want to? Editor integration is nice, but it should be optional.

I suppose we need to think about how it integrates into Travis as well.

Here are the config files from a recent project of

[2020-07-08 15:10] msalsbery commented on #1846
@iangilman Excellent, thank you!

No editor requirements for the user, although I will update the CONTRIBUTING doc with tips on editor integrations that'll help out! I'll add grunt tasks for CLI linting/prettying.

Travis...I don't know a thing about it. In what ways could a new config file (.prettierrc) and editing two existing config files (.editorconfig, .eslintrc.json) affect Travis? (serious

[2020-07-08 22:30] iangilman commented on #1837
Sure!

That reminds me, I should go through and close out some of the old questions sometime… Of course you're welcome to as well ;-)

[2020-07-08 22:33] iangilman commented on #1848
You'll want to set `maxZoomPixelRatio: 2` as well, so it'll allow you to zoom in that far.

[2020-07-08 22:41] iangilman commented on #1846
Yeah, it shouldn't affect Travis if we don't want it to. I believe Travis marks a build as failed if it doesn't pass the lint test. That's probably all we care about (in addition to the normal testing, of course), so there's nothing to add there.

Here's a recent Travis build, in case you're curious what it's doing:

https://travis-ci.org/github/openseadragon/openseadragon/builds/703626509

[2020-07-08 23:17] iangilman commented on #1844
Here's info on the DZI file format if that helps (in terms of the folder structure):

https://github.com/openseadragon/openseadragon/wiki/The-DZI-File-Format

I've taken a look at your stack overflow post and added a comment as well.

[2020-07-09 01:11] msalsbery commented on #1846
Oh yeah ;) Out of habit I always run eslint from command line when pushing PR so I didn’t think about that

[2020-07-09 01:18] msalsbery commented on #1848
I think I need to add that to the ImagingHelper plugin, thanks!

[2020-07-09 01:32] #1848 closed

[2020-07-09 01:58] iangilman commented on #1850
It's hard to say exactly how each file contributes to the overall minified version, but if you compare the original source files, all of the tile sources together comprise only 7% of the overall total, so no, they aren't a major proportion of the total file size.

It looks like if we throw in the other optional modules (navigator, reference strip, and overlays), you get another 7% for a total of 1

[2020-07-09 07:53] lovasoa commented on #1850
Thank you for the detailed answer, @iangilman !

[2020-07-10 00:14] iangilman commented on #1851
Sounds like you're using https://github.com/eriksjolund/OpenSeadragonPaperjsOverlay? You might want to file an issue there.

I'm afraid I don't know that much about that plug-in. When you say you have two canvases, do you mean two OpenSeadragon viewers?

[2020-07-10 12:34] kgronowski opened #1852 "Browser tab freezes when browsing tiffs"
Hi,
I'm having an issue when browsing tiffs with universalViewer and OpenSeadragon. After some time of changing images, zooming in and out, browser tab freezes completly. Problem occurs in many browsers (Chrome, Firefox, Opera, Edge). Guys from UniversalViewer (https://github.com/UniversalViewer/universalviewer/issues/735#issuecomment-655417511) suggested that this could be ralated to tile sizes a

[2020-07-12 11:55] #1477 closed

[2020-07-14 00:42] iangilman commented on #1852
That's no good!

I think the first thing I would suggest trying is setting your `maxImageCacheCount` to something smaller (it defaults to 200). See if that fixes it.

Anyway, of course this shouldn't be happening. Even if we run out of memory it would be better if we started purging stuff rather than locking up. I think that's tricky, though… I don't think the browser is very forthcoming with how

[2020-07-14 10:23] stephenwf commented on #1852
Mentioned in the UV bug report but one possible work around could be to change how the cache size is described. A cache size of 200 with 256x256 images would be roughly 50mb worth of bit maps stored (200 images * 4 bytes per pixel * 256 * 256).

We could base the cache on an estimated size, like 50mb which would fill much faster with the tiles in the example here. I think they were 672x560 tiles,

[2020-07-14 13:38] msalsbery commented on #1852
@kgronowski  I would take a look at the example site's memory use. I'm able to grind it to a halt on an iPhone just by selecting 3 or 4 images. In Chrome/Edge devtools memory snapshots, there's a lot of leakage just selecting images. I don't know if IIIF images use the tile cache differently, but I'd be looking at the site and/or the tile source before diving into the tile cache

[2020-07-14 14:46] msalsbery commented on #1852
@kgronowski  not sure if it helps, but uv.js seems to retain the most objects...

[2020-07-15 13:02] kgronowski commented on #1852
Thanks for suggestions guys :)
I was able to fix the issue by updating OSD. UV was using older version of OSD (2.2.1). After updating it to newest (2.4.2) everything seems to be fine and browser no longer freezes.

[2020-07-15 13:43] msalsbery commented on #1852
@kgronowski excellent! Thank you for the update!

[2020-07-15 13:44] #1852 closed

[2020-07-15 13:48] #1837 closed

[2020-07-15 13:53] msalsbery commented on #1834
@Mikesteinberg Glad you got it sorted! Closing this for now...feel free to reopen if the issue persists!

[2020-07-15 13:53] #1834 closed

[2020-07-15 14:31] msalsbery commented on #1733
Update: Regarding browser sniffing, I’ve confirmed Edge is picked up properly as far as features go, but we don’t have specific Edge BROWSERS enum values. My next PR adds BROWSERS.EDGE and BROWSERS.CHROMEEDGE values.

@j-hudecek Do you have an updated link to the bug in the original post?

What is the two finger scroll gesture and what do you expect to happen in an OpenSeadragon viewer when it’s u

[2020-07-15 18:12] samyuan31515 opened #1854 "Avoid the flicker when switching the image"
When we switch the display from one image to another, we see a clear flicker. Is there any way to avoid this flicker? It seems to us that some kind of a double-buffer mechanism used in computer graphics community to display smooth animation images may be able to solve the problem. We just wonder whether openseadragon can provide this mechanism. Thanks for your help.

[2020-07-15 18:46] rsimon opened #1855 "Add support for WMTS tile map service"
WMTS is a service for georeferenced maps, served as image tiles. It's very similar to the TMS specification, [which is already supported](https://github.com/openseadragon/openseadragon/blob/master/src/tmstilesource.js).

It seems that the only change to the TMS tilesource implementation that's needed to make it a WMTS implementation is this:

[code]

Therefore I wonder if WMTS could be made a conf

[2020-07-15 22:13] devshgraphicsprogramming opened #1856 "Support Minification During movement Properly with MipMap pyramids, EWA or Summed Area Tables"
Right now when I zoom out the examples and move the image around I get aliasing due to what I presume is **nearest neighbour filtering** (or bilinear, doesn't matter, still bad cause it won't account for display's pixel footprint).

It you had a prefiltered representation, either as a mip-chain or as a Summed Area Table, the image would handle subpixel movements and minification better.

[2020-07-15 22:29] devshgraphicsprogramming commented on #1856
My bad, seems to actually be doing minification properly but there's a delay before the lowpass convolution is applied so I can see some aliasing during the zoom-in/zoom-out animation/motion that later disappears.

[2020-07-17 08:18] pawelprochnicki opened #1858 "implementing OpenSeaDragon in Angular ~9 application"
Hi,
Is there anywhere docs / examples / tutorials about implementing OSDragon in Angular 9?

Regards

[2020-07-19 05:39] mma2702 opened #1859 "Flickering on image change OpenSeadragon.Viewer open"
Thank you for wonderful library.
How to avoid flickering on image change, I am using OpenSeadragon.Viewer open(tileSources).

[2020-07-19 05:59] msalsbery commented on #1859
Hmm I’ve never noticed flicker so not sure what you’re seeing. The image should start blurry then get sharp as higher resolution tiles get downloaded. That doesn’t leave any “holes” for there to be flicker.

Anything you’re doing out of the ordinary? What type of images? Any chance you could post a video?

[2020-07-19 19:35] bdrichards opened #1860 "Option to accelerate zooming (so faster scrolls/pinches zoom faster)"
I honestly can't remember where I saw this idea, thought it was in this project, but must have been in another panoramic-type viewer, as I have searched here;
Is there a way to increase the rate of zoom (at an increasing rate) as the scroll speed increases?
i.e., have zoomPerSecond decrease dynamically based on speed of mousewheel scrolling...

[2020-07-19 20:13] msalsbery commented on #1860
Not built in, but one solution is to use the [OpenSeadragonViewerInput plugin](https://github.com/openseadragon-imaging/openseadragon-viewerinputhook) to intercept the wheel events then process the events any way you’d like.

Even if you don’t use the plugin, the plugin source code shows a way to access the OpenSeadragon.Viewer’s MouseTracker to intercept events before they’re handled

[2020-07-20 17:08] iangilman commented on #1854
Indeed! The technique you need is to load the next image before removing the previous one. Here's an example:

https://codepen.io/iangilman/pen/erjyBP

… And another with a fade:

https://codepen.io/iangilman/pen/YXRLea

This is a common enough scenario it seems like it might be worth someone creating a plug-in to do it (the core is already big enough, I think features like this need to start migr

[2020-07-20 17:57] iangilman commented on #1858
There is not as far as I'm aware. There definitely are people using OpenSeadragon in Angular, though! There is some discussion here: https://github.com/openseadragon/openseadragon/issues/1709 I don't know if any of that will be useful to you, but perhaps those people can be of help.

If you do run across a good resource (or if you end up writing one yourself), please let us know!

[2020-07-20 18:09] iangilman commented on #1859
Sounds like @mma2702 is referring to the brief moment when one image has been removed and the next image hasn't yet loaded, when you are flipping through images in sequence mode. There are some suggestions for that over here: https://github.com/openseadragon/openseadragon/issues/1854

[2020-07-20 18:57] msalsbery commented on #1859
@iangilman Thanks! I was intrigued and about to ask...you beat me to it with your reply on #1854  :)

[2020-07-21 08:01] gunmiosb opened #1861 "Overlays in SequentialMode disappear"
If there are multiple overlays for each sequential image only the first overlay is visible. Every overlay after that is set to "display:none"

You can see the problem on the example page for [Overlays](http://openseadragon.github.io/examples/ui-overlays/) on the Overlaying Complex HTML Example.

Culprit is this part in overlay.js
https://github.com/openseadragon/openseadragon/blob/84dd5cd6a737aec0

[2020-07-21 16:29] iangilman commented on #1860
There's also zoomPerScroll; perhaps that's what you're looking for?

[2020-07-21 17:37] iangilman commented on #1855
Sounds great! What do you think would be a good API for it?

According to [our demo](http://openseadragon.github.io/examples/tilesource-tms/) (which [needs a new demo tile source](https://github.com/openseadragon/site-build/issues/145), by the way, if you know of one!), here's an example TMS:

[code]

So maybe we support WMTS like so?

[code]

I suppose we could also do something like this:

[code

[2020-07-21 17:49] iangilman commented on #1856
Hmm… I don't think we are rendering any differently during animation than we do at rest. We're just using canvas's [drawImage](https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/drawImage) for our rendering.

There can be differences due to tiles not being loaded yet, though. Perhaps that's part of what you're seeing? If you zoom out, it'll scale down the high-res tiles unti

[2020-07-21 20:08] devshgraphicsprogramming commented on #1856
Demo on the github page, Firefox + Windows 10.

[2020-07-22 10:36] rsimon commented on #1855
I thought about this a little. How about a property called `protocol` which could either be `tms` or `wmts`? If we default to `tms`, everything stays compatible to the way things are now.

Incidentally, 'TMS' is the acronym of __Tile__ Map Service,  not __tiled__ (i.e. the current tile source key `tiledmapservice` is - if you're nitpicky - wrong). Therefore, we can argue that both TMS and WMTS are

[2020-07-22 17:21] iangilman commented on #1855
Nice. Well, that sounds reasonable to me.

Are you up for making it happen? Sounds like it'll just be a small change to TmsTileSource, plus some documention.

Also, do you know of any sample files out there in these formats that we can use for the demo page?

[2020-07-22 17:27] iangilman commented on #1856
Cool, good to know. Would you say it's consistent with the tile loading theory?

[2020-07-22 18:10] devshgraphicsprogramming commented on #1856
No because I can repeatedly zoom in and out and get this issue, you'd have to drop unused tiles for this to happen over and over again.

[2020-07-23 01:47] bdrichards commented on #1860
Not really, the zoomPerScroll amount is the same no matter how fast a user "spins the wheel". The effect on Gigapan.com is that a faster "spin of the mouse wheel" gives you more zoomPerScroll so the zoom-in  is accelerated and you get to your desired zoom level quicker. The current OSD zoomPerScroll requires that I really pump that finger on the mousewheel because it is linear in its response. Ano

[2020-07-23 07:51] rsimon commented on #1855
Yes, more than happy to attempt a pull request for that. (Might take a week or so until I can start looking into this though.)

I'll also look for good example layers to post on the website.

[2020-07-23 15:15] Medwar opened #1862 "Synchronize animations between the two viewers"
In this example:
https://codepen.io/iangilman/pen/BpwBJe
If synchronize 2 viewers like here, syncronization works, but except for the touch devices.
If one image is touch-moved, the second animates to the new position with delay, so they are desyncronized.

Do you have any idea how to solve this?

A quick half-workaround is to set springStiffness to 100 if we detect touch device.
But I would like

[2020-07-23 17:32] msalsbery commented on #1862
Hi @Medwar

Try using the immediately parameter set to true on the Viewport.zoomTo() and Viewport.panTo() calls when on touch devices. That may give you what you want

Try this code in the codepen example:
[code]

[2020-07-23 17:36] iangilman commented on #1862
@MSalsbery that seems like the perfect solution.

Some background: The difference is that with mouse actions, OpenSeadragon employs springs to animate the movement, and with touch actions, the movements are mirrored directly without springs.

@msalsbery any suggestions for how best to detect touch? Is there any facility in OpenSeadragon to do so?

[2020-07-23 17:37] iangilman commented on #1855
Awesome, thank you! No worries on the timing, of course :-)

[2020-07-23 17:39] iangilman commented on #1860
Good point. This certainly seems like something worth adding. I think the big challenge will be making it work consistently across browsers, operating systems, and devices. Here's an issue for that topic: https://github.com/openseadragon/openseadragon/issues/1820

[2020-07-23 17:48] iangilman commented on #1856
Cool, thank you for confirming.

I still don't think I'm seeing what you're seeing, nor do I have a good sense for what we might do to fix it. At any rate, if you're interested in working on contributing a fix, I'm happy to help answer questions along the way. Otherwise perhaps someone else will pick this up.

[2020-07-23 18:15] msalsbery commented on #1862
@iangilman Sure! Now, if I would have had the foresight to include the pointerType ('touch', 'mouse', 'pen') in the canvas-drag and canvas-pinch events, this could be much cleaner and would work on devices that have both mouse and touch (touchscreen desktops for example). I am adding it in my MouseTracker patch (today actually!) for the future, but for now here's a quick and dirty way to detect a

[2020-07-23 18:40] msalsbery commented on #1860
@iangilman Indeed! We already track pointer velocity for the flick gesture, so similar tracking could be done on wheel events. But the lack of a specification for wheel event rates is an issue as it always has been.

Definitely worth adding though! I'm chin-deep in a big MouseTracker patch right now, and this won't be included ;) but I'll give it a shot if nobody else does.

@bdrichards I confirme

[2020-07-23 19:24] Medwar commented on #1862
Great idea, thank you!
But this doesn't work in the following case:

https://codepen.io/Medwar/pen/MWKxaMG
When I make a "throwing gesture", the 'active' image keeps inertia and moves with animation in the direction, while the second image teleports to destination instantly when the finger is lifted up.

Maybe some actions on canvas-drag-end can be added.   Simply turning 'isTouchDevice = false' d

[2020-07-23 19:51] Medwar commented on #1862
events calling sequence is:  canvas-drag, pan, canvas-drag-end, so on canvas-drag-end it is too late.

[2020-07-23 20:03] msalsbery commented on #1862
@Medwar  Yeah there's definitely more adjustments needed than what I put in the example ;-)

Anyway, this is what you really want (hehe just kidding @iangilman ):
[code]

[2020-07-23 20:07] msalsbery commented on #1862
I think that works perfectly everywhere!

[2020-07-23 20:33] msalsbery commented on #1862
@Medwar Ok I fixed mousewheel handling in my last example above...still pondering the zoom buttons...

[2020-07-23 20:39] msalsbery commented on #1862
@Medwar Got it! That should work regardless of touch/mouse/pen pointer device used

[2020-07-23 21:47] msalsbery commented on #1862
@Medwar Took a while but I got it, code updated above!

[2020-07-23 22:41] Medwar commented on #1862
I didn't know of this second solution. Great idea.
Thank you for your work on tuning it up!
However this sync on animations seems to be more resource-heavy, as I noticed with animationTime = 0.5 it lags more even when working with the mouse.
And I still notice, that on high zoom levels the images still desync a bit.

I also want to try what will happen if I will be spawning mouse events on touch e

[2020-07-23 23:24] msalsbery commented on #1862
Yeah...I believe the only way to make touch behave the same as mouse without some workarounds is to disable the flick gesture for touch. You'd lose the gesture but it should work identical to mouse.

[2020-07-23 23:29] Medwar commented on #1862
I found this:
http://insidebruegel.net/#p/v=udroom&lan=en&a=1026&x=s:3_l:6_v1:1026,vis_v2:1026,ir

Incredible.
Here the 'old' solution with sync on pan and zoom is used, and  it works 100% ideal sync, like a single image moving at pan.
On zoom there is no such sync, it zooms with a little delay, but it doesn't matter for me if I understand how pan sync works in this case.
However I can't understan

[2020-07-23 23:41] msalsbery commented on #1862
That's cool! It has a "heavy" feeling on touch...did they tune the spring and touch gesture settings?

[2020-07-23 23:59] Medwar commented on #1862
OSD module that is used is standard.
In jquery.uddragonviewer.js in override mode  I added:    line:60   animationTime: 0.5  - and it is now not so heavy on touch, but still keeps perfectly in sync.
From first glance looks like spring settings are untouched.
Openseadragon manipulation and sync part seems identical to our 'pan zoom method' codepens above.
Can't find anything related to touch manipu

[2020-07-24 00:10] Medwar commented on #1862
Looks like
"constrainDuringPan: true"
in OSD options was the key.

[2020-07-24 00:12] msalsbery commented on #1862
Indeed. They did set constrainDuringPan: true, on the viewer...have you tried that? It feels heavy as well but seems to sync (not sure about pinch though)

[2020-07-24 00:13] msalsbery commented on #1862
LOL you beat me to it, never mind :-)

[2020-07-24 00:27] Medwar commented on #1862
Combining Ian and your advice and 'constrainDuringPan: true', I managed to synchronize both pan (perfectly) and zoom (99% perfectly)!
Thank you very much.

Finally it looks like:
[code]
Now it's time to get some sleep, 3.24 am and I get up at 6.

[2020-07-24 00:33] #1862 closed

[2020-07-24 00:33] msalsbery commented on #1862
Awesome, thank you for the brain teaser and the update! Cheers!

[2020-07-24 01:52] bdrichards commented on #1860
Good points.
I am eyeball-deep in getting Fall Semester virtual fieldtrips viewable with OSD, or I would take a look at your suggestion @msalsbery .
HOWEVER!!! Lookey here, I notice a year-old plugin called "OpenSeadragonSmartScrollZoom" -  'detects how fast the user is scrolling the mouse wheel and increases the zoom speed accordingly.'
In looking at this plugin, the options included seem to fit

[2020-07-24 19:49] msalsbery commented on #1860
@bdrichards Nice find! Have you tried it yet?

[2020-07-24 21:20] iangilman commented on #1829
By default, the navigator loads the same image as the viewer. It just shows it smaller, since the area of the navigator is smaller. It should be showing just the right number of pixels for that area. I don't see how trying to give it more pixels would make any difference. Is there a visual difference?

What kind of tile source is it, anyway? Is there some custom aspect to it? What you're describin

[2020-07-25 20:10] bdrichards commented on #1860
Yes, I gave it a spin (pun intended). The parameters are tricky to get set correctly per an expected behavior: the "jump" to the accelerated logic requires a minimum # of scrolls within a time threshold. However, what is the definition of a "scroll"? Is it a "click" on my mouse wheel, or ANY movement of the wheel, no matter how far it was spun?
Still, it is a tart, for now!

[2020-07-25 20:11] bdrichards commented on #1860
oops, didn't mean to select "close".... my bad

[2020-07-26 04:25] msalsbery commented on #497
I have a tile source for HDView!

[2020-07-26 04:29] msalsbery commented on #1513
Related to #1855 ?

[2020-07-26 04:32] msalsbery commented on #933
Should be fixed in my next patch (v.2.4.3 or possibly 2.5.0), assigning to myself

[2020-07-26 04:35] msalsbery commented on #81
Are we good on this? Can we close?

[2020-07-26 04:44] msalsbery opened #1863 "Legacy Internet Explorer Support?"
With [support ended for Internet Explorer 10 ](https://docs.microsoft.com/en-us/lifecycle/announcements/internet-explorer-10-end-of-support) I thought I'd open an official issue on our support for old Internet Explorer versions.

It's not a huge issue, but at some point it would be nice to sweep out all the code we have for old IE support. Even if we still support 10 it would be a nice cleanup, an

[2020-07-26 04:49] msalsbery commented on #1767
Assigned to myself, fixing docs in next patch...

[2020-07-26 13:35] jpstroop commented on #81
No concerns here, FWIW

[2020-07-27 00:58] bgilbert commented on #81
Yeah, I think we've done as well as we can here.

[2020-07-27 16:41] iangilman commented on #1513
Maybe? What do you think, @rsimon?

[2020-07-27 16:42] iangilman commented on #81
Looks good… Closing :-)

[2020-07-27 16:42] #81 closed

[2020-07-27 16:53] iangilman commented on #1863
As of this moment on https://caniuse.com/usage-table, I'm seeing on desktop browsers:

* IE9: 0.24%
* Opera: 1%
* IE11: 1.38%
* Edge: 3%
* Firefox: 3%
* Safari: 3%
* Chrome: 30%

That doesn't include mobile browsers, which is why it doesn't add up to 100%. I didn't include any of the other IE versions, because they are basically rounding errors at this point.

With those numbers, I feel comfortabl

[2020-07-27 16:56] msalsbery commented on #1863
Music to my ears (eyes?)!

[2020-07-27 18:19] msalsbery commented on #1851
@EinavSB
Did you get this sorted? I'm unable to picture what the DOM tree looks like in your scenario.

Is this just moving the mouse between canvases or dragging (moving with a button pressed) between canvases?

I do know this is solvable, but I can't give a specific suggestion as I'm unclear what your DOM structure looks like ;-)

[2020-07-27 18:42] iangilman commented on #1861
Now that you mention it, I have no idea why we're doing that check! Seems like we should be able to just get rid of it. Would you be up for writing a pull request with that fix?

Note that this issue was first reported in https://github.com/openseadragon/openseadragon/issues/774.

[2020-07-27 19:25] msalsbery commented on #1836
Assigning to myself as reminder to address this passive event listener issue.

Note that it may not change...we kind of have to call preventDefault() on the wheel events to prevent scrolling of underlying elements.

@iangilman Thinking out loud, I'm not sure how to address that. One fix is to mark it passive to eliminate the warning, but that affects the out-of-the-box behavior of OpenSeadragon vi

[2020-07-27 19:40] msalsbery commented on #1765
Fix in progress!

[2020-07-27 19:41] msalsbery commented on #1733
@j-hudecek  bump ;-)

[2020-07-27 19:50] msalsbery commented on #1690
Related to #1860 #1820

[2020-07-27 19:55] msalsbery commented on #1669
@iangilman Thinking out loud, I'm not sure how to address that. One fix is to mark it passive to eliminate the warning, but that affects the out-of-the-box behavior of OpenSeadragon viewers, and could mean a (possibly breaking) API change...

I don't know....I know it's not crucial -the warning was added so wheel event handlers on window, document, and document.body wouldn't have their handling bu

[2020-07-27 20:01] msalsbery commented on #1563
@elmirabehzad1986  Is this still an issue?

[2020-07-27 20:05] msalsbery commented on #1511
@Salitehkat Looks resolved, closing. Please feel free to reopen this issue if necessary!

[2020-07-27 20:05] #1511 closed

[2020-07-27 20:08] msalsbery commented on #1459
I'm calling this a bug, and going to fix this :)

[2020-07-27 20:13] msalsbery commented on #1413
@fariskas This is an old issue, but I'd still like to make sure things are ok as of OpenSeadragon v2.4.2.

I believe all iOS browsers are using the PointerEvent model at this point...

[2020-07-28 06:41] EinavSB commented on #1851
Thank you for your replies!

@iangilman
No, I'm not using OpenSeadragon.

@msalsbery
This is just moving the mouse between the canvases (the button is NOT pressed).
The (simplified) DOM structure:
<body>
    <div id="div1">
        <canvas id = "canvas1">
    </div>
    <div id="div2">
        <canvas id = "canvas2">
    </div>
</body>

Thanks,
Einav.

[2020-07-28 06:43] EinavSB commented on #1851
<body>
    <div id="div1">
        <canvas id = "canvas1">
    </div>
    <div id="div2">
        <canvas id = "canvas2">
    </div>
</body>

[2020-07-28 11:14] AdamOrHd123 opened #1864 "A problem to run the very first example"
Hi,
I'm trying to run the example.
I copied the openseadragon to the directory where I run the html file from.
This is the html file:

[code]

I get this error when running it:
Uncaught TypeError: Cannot read property 'appendChild' of null
    at new m.Viewer (viewer.js:272)
    at OpenSeadragon (openseadragon.js:740)
    at tile.html:7

Can you please assist?

[2020-07-28 16:25] iangilman commented on #1851
Oh, if you're not using OpenSeadragon, you've filed this issue in the wrong repository! You probably want https://github.com/paperjs/paper.js/issues.

[2020-07-28 16:26] #1851 closed

[2020-07-28 16:34] iangilman commented on #1669
Yeah, we want to keep the functionality. There's no way to tell the browser, "No we really mean it, don't worry about it"?

I suppose we could add a flag to turn it off for people who care more about the warnings than the functionality, but I'm concerned that's just adding more noise to the API. I kind of think maybe if you ask for verbose warnings this is part of what you get? Anyway, I don't fee

[2020-07-28 16:44] iangilman commented on #1864
This is because your script is before the openseadragon1 div, and therefore the div doesn't exist when the script runs. Move the script below the div and it should be fine.

That said, you may have some other issues… I don't think the URL you're using for your tile source will work… It's just a file path, but needs to be a URL. Assuming your HTML file is already inside of "C:\GIT\mos_blog\", you w

[2020-07-28 17:20] msalsbery commented on #1669
@iangilman  Agreed. For sure the functionality isn’t going to change, it’s just a strange warning for the browsers to add. It’s strictly informational, and if one sets the handler as passive and still calls preventDefault then the result is just another warning. So either way, our gesture handling is going to generate a warning.

I’m not real concerned about it, but I do intend to dig for discussi

[2020-07-28 17:24] msalsbery commented on #1669
@iangilman ...so now that I think about it, I misspoke when I stated it would change the functionality...only the warning would change.

Anyway, mostly just tracking my thoughts here for reference when I get to that part of the patch I’m currently working on...there’s already too much machinery to try to keep straight in my head  ;-)

[2020-07-28 17:56] iangilman commented on #1778
Indeed. Well, given these limitations, and the fact that it doesn't require tight integration with OpenSeadragon, I think it would be better as a plug-in or even example code (in this collection for instance: https://codepen.io/collection/APoyjJ/).

One thought is you could generate a ton of points and then use https://mourner.github.io/simplify-js/ to reduce them in a smart fashion.

[2020-08-01 19:10] Deprecator16 commented on #1860
@bdrichards The definition of a scroll in the plugin is one "click" of the mouse wheel. Essentially, it records every scroll event that occurs using the "canvas-scroll" Viewer event and records the time between them. If the minimum # of scrolls is done within the time threshold, then every scroll after that will zoom in further, increasing linearly. Feel free to change the code however you need.

[2020-08-02 07:53] sunnylubana1 opened #1866 "Clear full website cache on new build in asp.net core 3.1 MVC?"
I have a website https://iamebook.com/ which is created in **ASP.net core 3.1 using c#.** This website contains ebooks. The most of content is static so I use cache in my website. I used response cache like [ResponseCache(Duration = (7 * 24 * 60 * 60))] and memcache like MemoryCache. all working perfectly fine. As most of the part is static so I can cache things for long time.

But I have a proble

[2020-08-02 07:54] #1866 closed

[2020-08-02 07:55] sunnylubana1 commented on #1866
sorry wrong group

[2020-08-02 18:34] msalsbery commented on #1866
@sunnylubana1  I just Remote Desktop to the server and use IIS management tools

[2020-08-03 19:49] zero41120 commented on #1778
@iangilman One more issue I have identified.
My approximation does pretty okay job in most cases, but if the path is not one continuous path, then there will be some gaps.
Say your path consist of a box and a shape inside it as exclusion:
![image](https://user-images.githubusercontent.com/10471270/89220884-3255b380-d587-11ea-88d4-30510ff7a9c2.png)

My approximation as polygon will try to connect t

[2020-08-04 16:53] iangilman commented on #1778
Good point. Well, if you do a plug-in or other such library, you can document the weak sides of the algorithm and work to fix them when you can.

[2020-08-05 01:47] zero41120 commented on #1778
@iangilman
I attempted to add the path cropping feature, here is the compare
https://github.com/openseadragon/openseadragon/compare/master...zero41120:feature/1778-path-cropping

It doesn't seem like the suggestion for transformation and scale works, can you elaborate more on this?

[2020-08-05 03:39] q990724 opened #1867 "After calling panTo and zoomTo in iOS Webview, the animation becomes very stuck"
I opened a web site in the webview of iOS. The web page uses openseadragon, and there are several tabs at the bottom of the web page. After each tab is clicked, panTo and zoomTo are called to the specified location, and then the gesture is moved/zoomed. The animation becomes very stuck

[2020-08-05 04:30] msalsbery commented on #1867
@q990724 Is the site accessible publicly?

[2020-08-05 05:49] q990724 commented on #1867
@msalsbery I opened https://openseadragon.github.io/ in Safari on iPhone7 Plus iOS13.3.1, and the official Demo animation is also very stuck.

[2020-08-05 16:04] msalsbery commented on #1867
@q990724  hmm, I don't see anything weird going on...what do you mean by "_The animation becomes very stuck_"?

[2020-08-05 16:11] msalsbery commented on #1860
@Deprecator16  Thanks for joining the conversation! Anything you can add to make the gesture(s) resulting from wheel events more consistent across devices/browsers would certainly be welcome. As far as touch goes, there's nothing that needs to be different - the need for speed consistency is the same, and it's the same event we're responding to.

[2020-08-06 01:19] q990724 commented on #1867
@msalsbery Scaling and moving are not smooth in safari   iOS13.3.1 iPhone7Plus

[2020-08-06 17:04] iangilman commented on #1867
Hmm, I can't reproduce on iOS 13.4.1 Safari on an iPhone 8. I went to https://openseadragon.github.io/ and panned and zoomed, and it seemed fine.

I wonder what the differences that's causing the issue.

[2020-08-06 17:06] iangilman commented on #1867
A possibly related issue: https://github.com/openseadragon/openseadragon/issues/1753

[2020-08-06 18:01] msalsbery commented on #1867
iPhone 7, iOS 13.6 seeing no issues as well...hmm...

[2020-08-07 23:37] peili commented on #1867
I can reproduce the issue on an iPhone XS, iOS 13.6
You need go activate „Fullscreen“ mode.

[2020-08-09 00:05] msalsbery commented on #1728
Fixed for 2.4.3

[2020-08-09 16:56] cleverlight commented on #1021
I'd like to experiment with this approach.  I'm working on a canvas of dynamically generated tiles (200ms+/tile), but I need to horizontally scale the generation across multiple servers.  Can anyone offer any advice on how to do it please?  I'm happy to (try to) code up a plugin to replace the `ImageTileSource.getTileUrl` function if that's the way?  Any docs/pointers appreciated.

[2020-08-10 13:11] peterrobinson opened #1869 "View image with Initial zoom and pan (following up #499)"
I have a large image (the Bayeux Tapestry, as it happens) which I want to open at the beginning, and not in the middle as OpenSeaDragon wants to open it. I can do this by waiting till the image loads fully and then use viewport.panTo to move the display to the beginning of the image, so that top left of the whole image appears in the top left of the viewer.

However, this is ugly. First the image

[2020-08-10 14:12] j-hudecek commented on #1733
I meant this https://www.youtube.com/watch?v=BHjJu5owfAw

The issue link is dead and I can't find it anymore :(

[2020-08-10 23:37] msalsbery commented on #326
Fixed for v2.4.3

[2020-08-10 23:40] msalsbery commented on #1825
@iangilman Yes, ReferenceStrip needs love...taking it on next, as I've had to dive into it to finish the current MouseTracker/events patch to fix some naughtiness.

Assigning to self...

[2020-08-11 18:11] #1165 closed

[2020-08-11 18:12] msalsbery commented on #1165
Saw that this is fixed in the code...closing

[2020-08-11 18:19] msalsbery commented on #272
Fast-forward to August 2020...anyone still using IE8 that can't work around this? ;)

[2020-08-11 18:49] msalsbery commented on #326
@houseofyin  Is Google Closure Compiler OK with this?
[code]
Or do those need to be removed as well?

[2020-08-12 15:29] msalsbery commented on #1046
Fixed for v2.5.0

[2020-08-12 22:25] iangilman commented on #1867
OK, on the homepage in full screen mode on an iPhone it does seem like the frame rate isn't super high. I wouldn't call it "very stuck", just not "buttery smooth".

One factor on our home page is that it's not mobile responsive, so it's actually a full-sized desktop homepage scaled down on your phone. That might be one reason for the low frame rate there. I've filed issue https://github.com/opense

[2020-08-12 22:29] iangilman commented on #1021
I think it may be as simple as the code example above from @CaptainCodeman. Take a look at http://openseadragon.github.io/examples/tilesource-custom/ for an example of where the `getTileUrl` function fits in.

[2020-08-12 22:41] iangilman commented on #1869
This is a popular request, so it seems worth thinking about how we would add it to the API. One possibility would be to set a home location, so that it starts there and the home button also returns there. Another possibility would be just a start location, but have home continue to go to fully zoomed out.

We'll need to think about how to specify the location… Pan and zoom numbers would be one opt

[2020-08-12 22:43] iangilman commented on #1733
That's the same scroll gesture as Mac trackpads. I'd expect that to zoom just like the scroll wheel (assuming this is a desktop device).

[2020-08-12 22:45] iangilman commented on #272
Yeah, I believe we've officially drop support for IE 8, so I suppose we can close this now.

[2020-08-12 22:45] #272 closed

[2020-08-12 23:21] msalsbery commented on #1733
@iangilman cool, I’ll add that as a new gesture

[2020-08-12 23:27] msalsbery commented on #1867
I’m personally waiting for the next MouseTracker patch before I look at this further...there’s several bug fixes and many improvements that may affect this. I’ll be posting at least a preview on my demo pages, links to preview builds, and of course the patch branch on the repository tonight or tomorrow (getting close!)...

[2020-08-13 03:29] peterrobinson commented on #1869
Thanks! That works quite beautifully -- and as this is the very beginning of the application, makes everything look so much more responsive.
As for how this should be implemented..having the ability to set the home location, so the image both starts at the left edge and goes there when the home button would be very neat. It would be neat if there were automatic alignment to the left edge; the way

[2020-08-13 08:18] lutzhelm opened #1870 "OSD uses size URL parameter 'max' but support of 'max' by services is not required in IIIF Image API 2"
On the Mirador Slack channel an error has been reported which I believe is linked to the behavior of OpenSeadragon. The report said that an image could not be displayed and the console read:

The error can be reproduced here: https://lutzhelm.github.io/osd-max.html

The size parameter is set here:

https://github.com/openseadragon/openseadragon/blob/84dd5cd6a737aec00f4132453d3253077b24b8e6/src/iii

[2020-08-13 11:51] cleverlight commented on #1021
That looks great.  Is the tilesource-custom approach compatible with `IIIFTileSource`?  I'm trying to implement the 'monkey patch' [advocated here in this SO answer](https://stackoverflow.com/questions/57269944/how-to-build-tile-url-as-per-loris-standard).

[code]

but the instant I specify the `getTileUrl` element, I get a start-up error:

[code]

[2020-08-13 14:56] eroux commented on #1870
I think going back to "full" (with a conditional on the api version) is a good option

[2020-08-13 15:46] lutzhelm commented on #1870
Code is already version conditional both for `full` region and `x,y,w,h` region, so this would be trivial.

https://github.com/openseadragon/openseadragon/blob/84dd5cd6a737aec00f4132453d3253077b24b8e6/src/iiiftilesource.js#L400-L403

https://github.com/openseadragon/openseadragon/blob/84dd5cd6a737aec00f4132453d3253077b24b8e6/src/iiiftilesource.js#L422-L425

[2020-08-13 16:02] MImranAsghar commented on #1870
Created a pull request: https://github.com/openseadragon/openseadragon/pull/1871

[2020-08-13 17:48] msalsbery commented on #1824
@INPUTsys-Chris

I'm finally finishing up an event-handling (MouseTracker) patch!

If you still have shadow DOM code that you can test in, and have a little time, I would LOVE to know if OpenSeadragon viewers work in shadow DOM!

[Links to Demos and Preview Builds](https://github.com/openseadragon/openseadragon/pull/1872#issuecomment-673608460)

Cheers

[2020-08-13 17:51] msalsbery commented on #1867
@q990724

I'm finishing up an event-handling (MouseTracker) patch and I'm curious if the new code improves the user experience issues you're seeing.

If you have a little time to try it out, I would love to hear your feedback!

[Links to Demos and Preview Builds](https://github.com/openseadragon/openseadragon/pull/1872#issuecomment-673608460)

Cheers

[2020-08-13 17:53] msalsbery commented on #1728
@sanli

I'm finishing up an event-handling (MouseTracker) patch and I'm curious if the new code improves the issues you're seeing.

If you have a little time to try it out, I would love to hear your feedback!

[Links to Demos and Preview Builds](https://github.com/openseadragon/openseadragon/pull/1872#issuecomment-673608460)

Cheers

[2020-08-13 17:55] msalsbery commented on #1753
@nikreations

I'm finishing up an event-handling (MouseTracker) patch and I'm curious if the new code improves the issues you're seeing.

If you have a little time to try it out, I would love to hear your feedback!

[Links to Demos and Preview Builds](https://github.com/openseadragon/openseadragon/pull/1872#issuecomment-673608460)

Cheers

[2020-08-13 18:02] msalsbery commented on #1459
Fixed for v2.5.0

[2020-08-13 18:07] msalsbery commented on #933
@hossam707

I know this is an OLD issue, but I'm finishing up an event-handling (MouseTracker) patch and I'm curious if the new code improves the issues you're seeing (it should!).

If you have a little time to try it out, I would love to hear your feedback!

[Links to Demos and Preview Builds](https://github.com/openseadragon/openseadragon/pull/1872#issuecomment-673608460)

Cheers

[2020-08-13 18:08] msalsbery commented on #1849
Fixed for v2.5.0

@vampire184

I'm finishing up an event-handling (MouseTracker) patch and I'm curious if the new code improves the issues you're seeing.

If you have a little time to try it out, I would love to hear your feedback!

[Links to Demos and Preview Builds](https://github.com/openseadragon/openseadragon/pull/1872#issuecomment-673608460)

Cheers

[2020-08-13 19:18] msalsbery commented on #427
@benjamind  @nagame-net

I know this is an OLD issue, but I'm finishing up an event-handling (MouseTracker) patch and I'm curious if the new code improves the issues you're seeing (it should!). The new code uses DOM pointer capture APIs when available instead of simulating pointer capture...this should fix iframe and shadow DOM issues.

If you have a little time to try it out, I would love to hear

[2020-08-13 23:55] msalsbery commented on #1346
Fixed for v2.5.0

[2020-08-14 17:14] iangilman commented on #1733
You'll be able to differentiate that from a regular touchscreen two finger drag (which you should just be a pan, I believe)?

[2020-08-14 17:21] iangilman commented on #1704
Fixed by https://github.com/openseadragon/openseadragon/pull/1868

@abrlam if you're up for it, it might be worth adding `tileSize` to the example on:

https://github.com/openseadragon/site-build/blob/master/www/tilesource-zoomify.html

[2020-08-14 17:21] #1704 closed

[2020-08-14 17:29] iangilman commented on #1869
Yes, good point!

I usually use fitBounds instead of pan/zoom, since I think the math is easier that way, but there's still math involved. It would be cool to come up with a system to more easily express relationships like "fill the height and pin to the left side".

Hopefully someone will take an interest in making a patch for this. You're welcome to jump in if you'd like, of course. :-)

[2020-08-14 17:57] peterrobinson commented on #1869
Thanks for the invitation! However -- I have to say I have been working with the OpenSeaDragon API for just five days so I think I need to learn a little more about it. But I have a motivation: you will find at www.textualcommunities.org somewhere north of 50,000 IIIF images, for which we have been using the OpenSeaDragon viewer for years. And I started down this path thinking of neat things like

[2020-08-14 18:14] msalsbery commented on #1733
@iangilman well I haven’t put too much thought into it yet, but...

Two contacts is currently a pinch gesture if there’s a pinch handler. So I’m thinking add another two-finger gesture with associated optional handler. User can use one or the other handlers to choose which zoom method.

A more difficult approach would be to enhance pinch so if both contacts move same direction then zoom, else pinc

[2020-08-14 18:16] msalsbery commented on #1733
And with this new two-contact gesture, which direction is zoom in and which is zoom out??  I honestly don’t know ;)

[2020-08-14 18:30] msalsbery commented on #1733
@j-hudecek Do you have input on what you would expect with this?

The pinch and wheel actions are pretty robust I think, so I’m not getting what exact two finger movement should do what. Whatever it is it should be relatively easy to implement, I’m just not getting the specification :)

[2020-08-14 19:35] j-hudecek commented on #1733
That's a very good question, but I'm afraid you won't like the answer:
on windows (like in the video I've posted) it scrolls down when you move the fingers down.
on mac (see https://youtu.be/Q7vK0uhqLy0?t=47) it scrolls up when you move the fingers down.
And users can configure it. To keep it simple you should treat scrolling up with 2 fingers like mousewheel up (negative deltaY)

[2020-08-14 19:43] msalsbery commented on #1733
@j-hudecek Meh, too much work...

J/K cool I can do that. I missed that you posted a video (facepalm)! Thank you for the clarification!!

Will get to it when the current MouseTracker patch lands.

[2020-08-14 23:32] iangilman commented on #1733
The thing is, on the Mac at least, this already works fine. The two finger drag on the trackpad just automatically gets turned into a scroll wheel event (taking into account the user's configuration for which direction is which), so OpenSeadragon doesn't need to know anything about it.

Looks like maybe the Windows "Precision Touchpads" don't do that directly for some reason, but they do have a sp

[2020-08-14 23:52] msalsbery commented on #1733
@iangilman I agree, and I was thinking the same. Thanks for the link!

[2020-08-15 03:46] zero41120 commented on #1778
Pull request created here:
https://github.com/openseadragon/openseadragon/pull/1873

[2020-08-15 08:27] hhentschel opened #1874 "How to use OSD in a CMS, or how to handle different Image Dimensions dynamically"
Hi,
i implemented OSD in my CMS (Craft CMS), working with .dzi Files (generated via VIPS),
like in this Codepen:
https://codepen.io/iangilman/pen/gpejpJ?editors=1010

I have a Detailpage for each Image and the access for each image file (_files) for the variable
`var dziFilesUrl = ...` is working correctly.
This is my code:
`var dziFilesUrl = "/user_assets/images/kelimImageDetail/{{ entry.title }}

[2020-08-19 03:11] msalsbery opened #1875 "Add stopImmediatePropagation to MouseTracker.EventProcessInfo Options"
The [MouseTracker Overhaul 2020](https://github.com/openseadragon/openseadragon/pull/1872) (#1872) patch adds a preProcessEventHandler handler function which can be used to control the bubbling, default handling, and gesture creation of/from native pointer events.

Add a stopImmediatePropagation flag to the MouseTracker.EventProcessInfo type and implement appropriately to provide similar behavior

[2020-08-19 05:26] msalsbery commented on #1874
I would start with browser dev tools and look at the response to the request and make sure you're getting the file you're requesting. If you're getting the XML then perhaps it's malformed?

[2020-08-19 07:18] INPUTsys-Chris commented on #1824
Hi,

I guess it's better to continue that discussion in this ticket.

I updated
https://webapps.inputsys.de/test/test
with your new version.

The green rectangle should become red if clicked. Also I added a
alert("msalsbery");
in the code if the click happens, so you can find that part of the code.

It's not very easy to read because vaadin does minify that code but maybe you can set breakpoints.

[2020-08-19 07:41] msalsbery commented on #1824
@INPUTsys-Chris excellent, thank you! I’ll have a look later today (12:41am here now  ;))

[2020-08-19 22:12] ghost opened #1876 "How to add loading screen.icon in OSD images?"
Hello, I currently have a page with many images and it takes longtime to load them all, is there a way to add a loading icon on each image until they load, so user knows something is populating? I am currently using openseadragon plugin for wordpress.

https://suarrmaterials-test.syr.edu/materials-index/glass/different-types-of-glass/

[2020-08-20 14:38] ghost opened #1877 "Adding ALT text to OSD images"
I have bunch of opeanseadragon images but how do I add ALT text to the images so it passes accessibility.
example of my code is:
[code]

[2020-08-20 14:59] msalsbery opened #1878 "Navigator in Custom Location - Exception Thrown on destroy()"
When the Navigator is used in a custom location, e.g.
[code]
If destroy() is called on the navigator's Viewer, an exception is thrown. This occurs when Control.destroy() calls Node.removeChild() to remove the Navigator, which isn't a child of any control container.

[2020-08-24 01:23] haseebrahman7 commented on #1876
This is my current code for the OSD image, how do i add the code that your referenced above.

    <div class="gallery_image-wrapper">
      <div class="gallery_image">
<div id="materials-0158" class="suarrmaterials-zoomable-image" style="height:400px; width:400px;" data-image="2020/06/DSC_0158-1.jpg"></div> <div class="gallery_image-description"><h3>DSC-0158</h3></div>     </div>
    </div>

[2020-08-24 17:06] joedf commented on #1579
@msalsbery Okay, I have tested v2.4.2 and v2.5 (preview) side-by-side. Both seem to be working now in Firefox 79.0 x64 on Windows 10 Pro v1909 (18363.1016). However, v2.5 throws this error on every touch event I do. Also, there seems to be some "zoom-clipping"; the zoom level will sometimes jump to a higher zoom or lower zoom.

[code]

[2020-08-24 18:36] msalsbery commented on #1579
@joedf  GREAT info, thank you!

If you get a minute, could you please do me a huge favor and go to [this site](https://openseadragon-imaging.github.io/#/imaginghelper) and copy the navigator, osdBrowser, and osdMouseTracker objects from the properties pane and paste them here? It should look like this:
[code]
I want to make sure they're sane values, and it'll help me debug since I don't have a des

[2020-08-24 19:02] joedf commented on #1579
Sure, no worries!
[code]

[2020-08-24 20:48] msalsbery commented on #1579
@joedf  Perfect, thank you!

[2020-08-25 00:08] #1870 closed

[2020-08-25 16:32] wesleyfok commented on #1652
@msalsbery Oooh, thanks! We'll try to incorporate the new version into our site when we get a chance.

[2020-08-25 16:35] msalsbery commented on #1579
@joedf

I've [posted new builds](https://github.com/openseadragon/openseadragon/pull/1872#issuecomment-673608460)...should fix the exception you were seeing.

If you get a chance to test on Firefox desktop touch, can you please let me know if you see any console warnings? If there's _'releasePointerCapture() called on invalid pointer ID'_ warnings then it's a Firefox bug and I'll suppress the warn

[2020-08-25 16:40] msalsbery commented on #1652
@wesleyfok  I wouldn't release it to the world yet, as we're still testing and it hasn't been merged in. ;-)

But if you get a little time to try it on your site(s) I would really appreciate any feedback!

[Preview builds and demos here](https://github.com/openseadragon/openseadragon/pull/1872#issuecomment-673608460)

[2020-08-25 16:45] msalsbery commented on #1652
@wesleyfok  Also, now that I look at this issue, there may be code changes you'll need to work with propagation of events between overlays and viewers. I can definitely work with you on ways to accomplish that. Hopefully this patch makes that stuff easier, and the necessary changes won't be extreme and won't be much different than what needs to be done with event propagation on any site.

[2020-08-25 17:06] msalsbery commented on #1652
With v2.5.0, you can add something like this
[code]
to your overlay MouseTrackers.

The preProcessEventHandler callback is called for several events before the MouseTracker processes them. The `eventType` property in the passed event object can be used to determine which event is being processed: `"gotpointercapture", "lostpointercapture", "pointerenter", "pointerleave", "pointerover", "pointerout

[2020-08-25 17:20] joedf commented on #1579
@msalsbery Okay, so it seems the error is still being throw in firefox on my touch laptop.
`releasePointerCapture() called on invalid pointer ID ............................. mousetracker.js:1701:30`
I tested it in chromium-edge and it worked flawlessly, no warnings or errors. It seemed more responsive and smoother. In firefox, I've noticed there's the touch left-click (context-menu) square that s

[2020-08-25 17:27] msalsbery commented on #1579
Just the console warning then? Does it work though since the exception that was occurring is now caught?

The context menu stuff should be fixable by css...I'm looking into that now to see if I can improve that on the OpenSeadragon end.

Thank you, it's great to get this feedback!

[2020-08-25 17:34] msalsbery commented on #1579
Hmm we don't even look at the contextmenu event anywhere in the code. I'm pretty sure I can fix that...well hopefully! ;-)

It's happening on a "long touch" gesture though, yes?

[2020-08-25 18:53] msalsbery commented on #1579
@joedf

I've [posted new builds](https://github.com/openseadragon/openseadragon/pull/1872#issuecomment-673608460)...

Removed console warning
Added contextmenu handling

[2020-08-25 19:19] wesleyfok commented on #1652
I think to make this work on our site back when I posted this issue, we ended up using a workaround from earlier in the thread, so we'd probably want to back that out before we looked at integrating v2.5.0 anyways. It'll probably take a bit of time on our end but just wanted to pass on my appreciation in the meantime!

[2020-08-26 00:25] joedf commented on #1579
@msalsbery nono, non-fatal errors only, it all works ok. Sounds good. I'll give it a try tomorrow morning 👍

[2020-08-26 14:07] joedf commented on #1579
Works great, no warnings. Yes, a long press.

I'm not sure, but it seems it will jump depending on how fast I put two fingers when I release or touch the screen, I so call "Zoom clipping". None of that in Edge. I'm not sure this can be fixed, possibly mitigated but perhaps not worth it to fix without being able to reproduce it. It seems firefox has been generally somewhat quirky for touch events.

[2020-08-26 16:48] msalsbery commented on #1579
@joedf

Is the long press issue ok now? I only tested with mouse right-click on desktop and touch on Webkit (iOS).

I'm bummed Firefox is quirky...they used to be the good one ;-)  On Webkit there's a little jump with touch/pinch but I think it's the combination of a few pixelsmovement at initial touch with a fat target (finger) and (perhaps even more so) the lack of the spring animation on the pi

[2020-08-26 16:59] joedf commented on #1579
@msalsbery Yes, the long press issue, but I wouldn't worry about it too much if there are other priorities.

Yes, I agree. I've been using Firefox since Netscape was no longer an option... Despite the quirks, I still use Firefox as my main as a matter of principle. From a technical perspective, Edge-Chromium seems promising.

And thanks to you for looking into this matter! 👍

[2020-08-26 17:11] msalsbery commented on #1579
But does the long press still bring up the undesired context box or menu? If so, I may need to mess with style/css - I'm already about to, going to add `-webkit-touch-callout: none` and  `*-user-select: none` styles...

I was already a big Edge fan, and I LOVE that they went with Chromium - mainly because it eliminated a bunch of inconsistencies with pointer events. I know front-end devs have seem

[2020-08-26 17:20] joedf commented on #1579
Well actually the contextmenu itself wasn't really issue. I noticed now it wont even show anymore. It was fine before, I was just thinking that the long-press square was the issue. Not sure that's intended, and perhaps my bad. 👶

[2020-08-26 17:38] msalsbery commented on #1579
@joedf

Oh ok, cool.

I don't _think_ a default context menu on the viewer is desirable in most cases, so I removed it and added a viewer event for the ability to add a custom context menu. @iangilman may reject that in code review, however...we'll see ;-)

[2020-08-26 18:02] joedf commented on #1579
Ahh okay understood. 👍

[2020-08-26 23:32] iangilman commented on #1874
That Codepen is just for cross site DZI access (where your code is on one server and your DZI data is on another server) where you can't set up CORS on the DZI server for whatever reason. That used to be fairly common, but now it's much more rare. Have you determined if that's your situation?

If you're either on the same server, or your DZI server has CORS, you should be able to just use the URL

[2020-08-27 00:25] iangilman commented on #1878
@msalsbery good catch!

@Zero41120 excellent, thank you for connecting the dots.

@JoFrMueller would you be up for fixing this as a follow-up to your #1832?

This seems worth fixing before our next deploy, so I've added it to the 2.5.0 milestone.

[2020-08-27 00:27] zero41120 commented on #1878
I did the following in `control.js` to silence the error
[code]

[2020-08-27 14:30] Pin0 commented on #1356
Can you share your final solution @kayc-cogapp

[2020-08-27 15:07] msalsbery commented on #1863
@iangilman

What do you think about removing IE<11 support for the 2.5.0 milestone?

[2020-08-27 15:31] msalsbery commented on #1878
@zero41120  Thank you for that. I don't think we should even be calling removeChild if the navigator is placed in an external element, Hopefully just a check for the anchor being $.ControlAnchor.NONE should be done

@JoFrMueller would you be up for fixing this as a follow-up to your #1832?

If not, I'll take this one...

[2020-08-27 16:42] msalsbery commented on #1753
@nikreations  I just wanted to check in so you'd know we haven't forgotten about this issue. Been busy working on v2.5.0, but when it lands I can work with you to try to figure out what's going on.

I've profiled the site you linked to (_**very nice looking site by the way!**_), and the DOM looks pretty simple so there must be a lot of javascript going on. The site gets sluggish quickly on mobile

[2020-08-31 12:16] astrozot commented on #1614
As a side comment, it would be useful to have a flag that prevents flipping completely. In some cases, flipping is not desired, and it is desirable to disable it. The same goes for the rotation, but this is already possible by setting `rotationIncrement: 0`.

[2020-09-01 01:47] jessupjs opened #1879 "Possible plugin: Lensing"
Hi!

I've enjoyed working with OSD for specific application that requires the use of a "lens". The tooling was deliberately abstracted for other use cases as a plugin - if the OSD team thought it might be useful for others in the community. It can be implemented pretty quickly:

[code]

Feel free to check the [demo](https://the.andwonders.works/vcg/lensing-demo/), the [Github repo](https://github.

[2020-09-02 16:15] iangilman commented on #1863
Sounds good. Let's make it official :-)

[2020-09-02 16:39] iangilman commented on #1877
Is each viewer a single image, or are there multiple images in the same viewer? If it's one image per viewer, you can put your accessibility code on the div that contains the viewer. It wouldn't be a literal alt tag, because that's just for images (and the viewer is a canvas), but you should be able to provide some sort of accessibility code to the containing div.

If it's more than one image per

[2020-09-02 16:41] iangilman commented on #1825
Awesome!

[2020-09-02 16:50] iangilman commented on #1876
@haseebrahman7 You'll need to have access to the OpenSeadragon viewer via JavaScript. Is that possible with the WordPress OpenSeadragon plug-in?

BTW, do you have a different viewer for each image, or a lot of images in one viewer? Depending on the design of your page (the link you included in the issue description isn't working right now, so I can't tell), a single viewer might be a better soluti

[2020-09-02 22:33] iangilman commented on #1579
Yeah, I think we shouldn't suppress the context menu, actually. For many scenarios, being able to save the current state of the viewer (which is one of the options on the context menu) is a desirable feature.

[2020-09-02 22:42] iangilman commented on #1753
Probably worth looking into this aspect before merging #1872, to make sure we are not introducing new bugs there.

@nikreations I agree it's a great site! Do you mind if I share it?

[2020-09-02 22:42] msalsbery commented on #1579
@iangilman roger that, I’ll flip the default action (the change is in #1872). Thanks!

[2020-09-02 22:45] iangilman commented on #1614
@astrozot You mean prevent flipping of overlays when the image is flipped? Or just flipping in general? If you don't want the user to flip, you can hide the flip button.

[2020-09-02 22:48] msalsbery commented on #1753
Yep....really need some feedback here - I can't debug without seeing how it's being used!

cc @nikreations

[2020-09-02 22:50] iangilman commented on #1879
That's really slick! Seems like it would be a great plug-in, so yes, if you want to do publish it as such, that would be awesome. Let me know if you need any pointers; it should be fairly straightforward.

BTW, while I found it to be smooth on Chrome, it flickers a lot on Firefox.

[2020-09-02 23:41] msalsbery commented on #1753
@nikreations

How do these sites behave on Ipad Pro 11?

* [OpenSeadragon Imaging ImagingHelper Demo](https://openseadragon-imaging.github.io/#/imaginghelper)
* [OpenSeadragon Imaging ConsoleHook Demo](https://openseadragon-imaging.github.io/#/consolehook)

If you have a few minutes, could you please (on an Ipad Pro 11) [go to this site](https://openseadragon-imaging.github.io/#/imaginghelper) and

[2020-09-03 00:40] msalsbery commented on #1863
Linking #373 in case it notifies concerned parties

[2020-09-03 07:17] nikreations commented on #1753
HiHere is the info

   -    navigator: {
  "appVersion": "5.0 (iPad; CPU OS 13_6 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) CriOS/84.0.4147.122 Mobile/15E148 Safari/604.1",
  "userAgent": "Mozilla/5.0 (iPad; CPU OS 13_6 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) CriOS/84.0.4147.122 Mobile/15E148 Safari/604.1"
}
   -    osdBrowser: {
  "vendor": "Safari",
  "version": 1.5e

[2020-09-03 11:52] nikreations commented on #1753
I tried the 2 links. Not smooth on ipad pro 11. Buttery smooth on desktop (windows 10, chrome) and on my Samsung S8 (Chrome).

[2020-09-03 12:00] nikreations commented on #1753
Thanks @iangilman The direct link to OSD part I posted is part of a bigger project https://virtualtour.ornc.org/ which can be shared, but unfortunately not the direct link to OSD part (yet). There are 2 versions, English & British Sign language.

[2020-09-03 14:23] msalsbery commented on #1753
I> I tried the 2 links. Not smooth on ipad pro 11. Buttery smooth on desktop (windows 10, chrome) and on my Samsung S8 (Chrome).

@nikreations thank you!

So 2.4.1 smooth, 2.4.2 not smooth, and 2.5.0 (those linked pages) not smooth, correct?

[2020-09-03 14:24] jessupjs commented on #1879
Thanks! Sorry for any bugginess - alot more quality control work is needed O_O. We'll keep building to be for general use and pass in domain-specific data analysis filters separately, and then will reach out as we get closer to production ready. Many thanks for all the work you do on this awesome tool!

[2020-09-03 14:27] msalsbery commented on #1753
@nikreations

What about demos here https://openseadragon.github.io/

Thank you for the feedback! I really wish I had the device in my hands

[2020-09-03 14:33] Clemens-Ratte-Polle opened #1880 "enhancement openseadragonizer : add copy Link to web version in browser addon"
Hi.
I got a suggestion for the Browser Extension OpenSeadragonizer.
How about adding the option to copy the link to an image to watch it in the web version of OpenSeadragonizer?
https://openseadragon.github.io/openseadragonizer

Like this:
https://openseadragon.github.io/openseadragonizer/?img=https%3A%2F%2Fpreview.redd.it%2Fcok76s7jf9z41.png%3Fwidth%3D960%26crop%3Dsmart%26auto%3Dwebp%26s%3D6260f2

[2020-09-03 14:48] msalsbery commented on #1753
@nikreations do you have an iPhone? If so what are you seeing there? I ask because on Webkit browsers is where I see the worst “smoothness” and I’m trying to get a feel for what you’re seeing.

At those two links to my demos were you able to pan and switch images with the buttons?

Leaving this here for my notes...
[code]

[2020-09-03 16:54] astrozot commented on #1614
I mean preventing flipping in general. I am hiding the flip button, but if the user presses the F key the image will flip anyway.

[2020-09-03 17:19] iangilman commented on #373
FYI, for anyone paying attention here, we are now planning to no longer support IE 9 and IE 10 in OpenSeadragon 2.5.0 (still supporting IE 11).

[2020-09-03 17:20] iangilman commented on #1863
Good thinking, but I don't think linking sends notifications, so I've added an explicit comment there.

[2020-09-03 17:41] msalsbery commented on #1863
Gracias!

[2020-09-03 17:51] iangilman commented on #1115
Cool, it makes sense. BTW, with https://github.com/openseadragon/openseadragon/pull/1872 coming we may not need to document the overlay click workaround, since it may be no longer necessary.

[2020-09-03 19:45] nikreations commented on #1753
No sorry, I don't have an iphone. The demos at https://openseadragon.github.io/ also show the same behaviour. I haven't checked it now, but before I got to check on other Ipads (pro 11, pro 12.9, Air, Mini & 10.2). 12.9, Air & Mini had no issue. It was just Ipad 10.2 and Pro 11, mine and another device. I checked my project and in2white

The webpage's "view source" should display all the code ther

[2020-09-03 20:58] msalsbery commented on #1753
@nikreations  Thanks again...I'll definitely be asking more from you! ;-)

I've moved over to a Mac, where fortunately (or unfortunately, depending on how I look at it) OpenSeadragon isn't so smooth on desktop Webkit (Safari) either. I'll be taking a look at 2.4.1, 2.4.2, and 2.5.0 and hopefully find out what's up

[2020-09-04 17:40] iangilman commented on #1879
Sounds good. Looks like a very promising project :-)

[2020-09-04 17:43] iangilman commented on #1880
Good idea! Can you file it over in https://github.com/openseadragon/browser-extension/issues?

Also, if you're interested in making a patch for this feature, I'm happy to help point you in the right direction :-)

[2020-09-04 17:46] iangilman commented on #1614
I see! Good point. Can you file that as a separate issue (it doesn't really belong bundled with this one)?

[2020-09-05 09:03] INPUTsys-Chris commented on #1824
@msalsbery
sorry I've been on holidays. I will try to reproduce/help and respond soon...

[2020-09-06 10:05] INPUTsys-Chris commented on #1824
Hi @msalsbery ,

you're right! I solved it by adding pointer-events to the items. Previously they did receive the events without that.

So my issues are fixed now. Maybe we can close that issue.

Thank you very much for your improvements and your support!

[2020-09-07 17:19] iangilman commented on #1753
Cool. Well, I'd love to share it when it's ready! Please let me know here, or [on Twitter](https://twitter.com/openseadragon), or, if you're up for it, make a pull request on this file:

https://github.com/openseadragon/site-build/blob/master/www/in-the-wild.html

[2020-09-08 23:08] woodchuck commented on #1878
This works for me:
[code]

[2020-09-08 23:18] msalsbery commented on #1878
@woodchuck excellent, that’s what I had in mind! I haven’t got around to making sure ControlAnchore.NONE can be interpreted that way but seems logical.

Are you up for submitting a patch?

Thank you!

[2020-09-09 07:40] JoFrMueller commented on #1878
@msalsbery sorry for the late reply.

I'm too busy currently to investigate but it seems that @woodchuck already found a solution. Thanks a lot and sorry for causing this mess in the first place!

[2020-09-09 15:24] msalsbery commented on #1878
@JoFrMueller

No worries!

Wait...YOU're the one that caused this mess??? ;) lol

But seriously, thank YOU for your work!

[2020-09-09 20:46] swiss-knight opened #1881 "Drawing a polygon and returning its set of coordinates expressed as (float) pixel values in the image reference frame"
Hi,

I need to be able to draw a closed (sometime self-intersecting) polygon onto a large image displayed by OSD.
Once the drawing of the polygon is finished, the set of (x,y) image coordinates must be returned in the image reference frame (as floating pixel values, (0,0) being the top-left corner, not pixel-centered, x pointing to the right, y down).
The polygon should be drawn by simple successi

[2020-09-09 22:13] Clemens-Ratte-Polle commented on #1880
hi. What do you mean with "file it over"? :)

[2020-09-10 00:07] zero41120 commented on #1878
@JoFrMueller
woodchuck solution fixes the bug reported here.
However, I still see error on `.destroy`, line 163 fails.
![image](https://user-images.githubusercontent.com/10471270/92666514-5317d400-f2be-11ea-9039-ab71a4aa3f17.png)
![image](https://user-images.githubusercontent.com/10471270/92666568-73479300-f2be-11ea-877a-16d4ec0de21d.png)

Look at my source code,
I think if one calls `viewer.navig

[2020-09-10 06:54] klporay opened #1882 "Wide SVG cropped by OSD?"
I have the following simple code for showing a sequence of svgs:

[code]
The svg dimensions are 332ptx20000pt (short, but extremely wide). When the images are displayed they are cropped horizontally (at about 12000pt approx.), but when I load the images directly in a browser, the browser (Chrome, Edge) shows them in their entirety.

Is there a way to display these wide images uncropped in opensead

[2020-09-10 07:48] JoFrMueller commented on #1878
@zero41120 thanks for pointing this out. I'm unable to investigate the topic currently for sure for the next 3-4 weeks because of too much work.

So in the end we'd need something that checks if the wrapper contains `this.element` like [Node.contains()](https://developer.mozilla.org/en-US/docs/Web/API/Node/contains) but with browser compatibility issues in mind? And then still, the *external* navi

[2020-09-10 14:43] msalsbery commented on #1878
@zero41120

I’ll be fixing this soon if someone else doesn’t first

I don’t plan on using the first proposed solution as there shouldn’t be an exception thrown so I’m not a fan of just wrapping in a try block.

I like @JoFrMueller solution but I will make sure it covers hopefully all use cases

[2020-09-10 21:46] CoreyRo opened #1883 ""Permission denied to access property Symbol.toStringTag" and "OpenSeadragon.Viewer is not a constructor""
I am receiving these script error in my error logs when OSD is initializing.
The following errors are happening dozens of times a day in all major browsers, devices, and viewports. (Safari, iOS Safari, Firefox, Edge Chromium, Chrome, Android Chrome).

I've been trying to reproduce them, but I have not been able to, I'm kinda turning here as a last resort to see if anyone else has seen these partic

[2020-09-10 21:51] woodchuck commented on #1878
I don't yet understand all the implications of what I'm doing, but #1884 is a start on trying to address my use-case.

[2020-09-16 23:00] iangilman commented on #1881
There is no plug-in I'm aware of but does exactly that. My recommendation would be to pick one of the overlay [plug-ins](http://openseadragon.github.io/#plugins) (SVG, canvas, Paper, Fabric) and build it on top of that. You could use the [annotations](https://github.com/Emigre/openseadragon-annotations) or [selection](https://github.com/picturae/openseadragonselection) plug-ins for ideas on how to

[2020-09-17 06:03] CosmicWreckingBall opened #1885 "Toggle between two different tiled images- built in Zoomify/Zoomable"
I am attempting to place an overlay over my primary image.  Both images are large, but I want to seamlessly be able to switch between the two.  I feel as though I'm close but I'm unable to get it to work.

Any help appreciated!

Here is my code- working to pull the "OVERLAY" but not switch between it and the primary.  Ideally, I'd like to toggle between the two in the image with a keystroke.

[cod

[2020-09-21 18:22] geoff-harper opened #1886 "Change how internal console messages are written"
Please change your console messages to info or debug instead of log so they can be disabled easily. Playing "spot the actually useful log I wrote for myself" in a sea of Openseadragon spam isn't a fun dev experience. Of course I could filter them every time I open the dev tools but why? It also spams remote analytics tools which requires extra filtering etc.

![Annotation 2020-09-21 141817](https:

[2020-09-23 08:23] xlb opened #1888 "how to get the current level"
em,now I use
`openSeadragon.world.getItemAt(0).lastDrawn `
to get  all the images and get the max Level of them .
is there any other ways to get the level directly?
thx.

[2020-09-23 11:38] q990724 commented on #1867
@msalsbery
I'm sorry, I tested the new version and it's still the same problem.
**But I did a video this time.**
[Sample video](http://acuteberry.com/5549d7a1777c18c86a2368567c47591d.mp4)
1. At the beginning of the video, I only operated on the canvas and there was no problem.

2.  When I click a thumbnail below, I call zoomoto and panto to move the canvas to a specified location automatically. Th

[2020-09-24 14:52] Rafi993 commented on #1691
Hello there. Thanks for this awesome library I don't face this issue anymore. I'm closing this issue for now. please feel free to open it back if needed.

[2020-09-24 14:52] #1691 closed

[2020-09-24 21:58] sindhuri-rotte-dasari commented on #388
@iangilman i updated OSD to 2.4.2, issue still persists.
![Screen Shot 2020-09-24 at 2 54 10 PM](https://user-images.githubusercontent.com/47903499/94204558-51314180-fe76-11ea-812c-57f2dba96859.jpg)
![Screen Shot 2020-09-24 at 2 53 48 PM](https://user-images.githubusercontent.com/47903499/94204560-52626e80-fe76-11ea-9a3a-c24332eee809.jpg)
![Screen Shot 2020-09-24 at 2 54 10 PM](https://user-images

[2020-09-24 22:00] sindhuri-rotte-dasari commented on #388
here image type is Jpeg, this is another layer by addTiledImage(tilesource).

[2020-09-25 15:32] zahranoorcs opened #1890 "How can I maintain zoom level of images when I toggle between Images?"
Hi Ian,

I have been digging around to get the answer but I did not find one.
So, I have four customized buttons, clicking on each button displays a different image. I want to keep the value of zoom between toggling of pictures just like "preserveViewport: true," does between modes. Also, in my case its difficult to load the viewer only once and change the image source each time. So, here is my qu

[2020-09-25 16:39] #1890 closed

[2020-09-28 16:29] iangilman commented on #1880
Sorry if that was confusing! I'm just saying that this issue should be filed in the browser extension repository, since it has to do with the browser extension, which is not part of the OpenSeadragon repository (which is where this issue is). Please file a new issue in https://github.com/openseadragon/browser-extension/issues, so it doesn't get lost here.

[2020-09-28 23:29] iangilman commented on #1883
Wow, that's a strange one! Your code looks fine to me. Is your code being processed in any sort of way, or running in an unusual environment?

[2020-09-29 12:48] Clemens-Ratte-Polle commented on #1880
ok thx 👍

[2020-09-29 14:02] CoreyRo commented on #1883
It's trans-piled in gulp, the actual vendor files are not touched by gulp though. The environment it's running in is in the client info tables up there in the original post, its just Chrome 85

Here's what it looks like after the files run through gulp. Its the same.
[code]

[2020-10-01 13:48] abrlam opened #1891 "Include Flat Toolbar Icons in the images folder?"
Is it possible to include the [icons](https://github.com/peterthomet/openseadragon-flat-toolbar-icons) created by @peterthomet in the images folder (e.g. ```images/flat_icons```)?

This gives users an option to update the icons easily without downloading the set from another source.  They can also take advantage of the CDN.

Thank you.

[2020-10-01 16:32] msalsbery commented on #1891
@abrlam  What about using the prefixUrl property in the viewer create options?

[2020-10-01 17:40] abrlam commented on #1891
@msalsbery The prefixUrl will play a role with this request.

For example:
prefixUrl: 'https://cdnjs.cloudflare.com/ajax/libs/openseadragon/2.4.2/images/flat_icons'

This allows users to change the icons from the original to the new set. You can say it's more for convenience than anything.

[2020-10-03 10:54] barryRayPal opened #1892 "Display Current Filename in Sequence Mode"
Using seadragon in Sequence Mode on our website to display pathology slides.
Some are very similar. How can I display the 'current' filename ?
seems like there is a simple way to specify a div id, but I cannot see it.
I could provide a DIV ID but cannot see where to add code using
innerHTML.

[2020-10-12 16:49] iangilman commented on #1628
@alvaromartmart thank you for making a PR with the installation instructions; I'll get that deployed soon.

Any thoughts on how we should maintain the types going forward?

I'm working with @Dan503 on an OpenSeadragon-based comic viewer using TypeScript, and he had a few bits he needed to add to our local copy of the definitions. You can see those changes here:

https://github.com/pixfabrik/drifto

[2020-10-12 17:05] Dan503 commented on #1628
The exact change I made was more of a quick hack to just do the bare minimum to get my copy working so it could probably be better. I don't have enough seadragon or typescript knowledge to do a quality fix. The types in the official version should get fixed though.

Personally I think it would be easier to just manually maintain a local `.d.ts` file as part of this repository rather than make PRs

[2020-10-12 18:23] erikradisch opened #1894 "Tiles are mixing up by zooming"
Has anybody experianced problems by zooming in images from a tiles-source? some pictures do have mixed up tiles by zooming in:
![grafik](https://user-images.githubusercontent.com/34335811/95778092-ac14c680-0cc7-11eb-90c3-781237e9f18b.png)

![grafik](https://user-images.githubusercontent.com/34335811/95778127-bfc02d00-0cc7-11eb-88b6-c5c2b01980ba.png)

The imageserver is cantaloupe. I do not get any

[2020-10-12 18:50] iangilman commented on #1885
The second is definitely better... just think of them as multiple images. The only refinement is you don't need to add the annotation again on the key press.

[code]

[2020-10-12 18:56] iangilman commented on #1885
Wait, actually there's some confusion in the setting of the opacity... the tile source isn't the same as the resulting tiled image. This version clears that up:

[code]

[2020-10-16 08:19] Fil opened #1895 "Zoom by Scroll gesture"
Hello,

sorry this is more a question than a bug report:

I'm evaluating OSD for a project similar to https://madmeg.org/delizie/ (which is currently using [d3-zoom](https://github.com/d3/d3-zoom) and a lot of custom code). OSD could be a replacement, with two caveats:
- a) the URL tracking part (I've found https://github.com/openseadragon/bookmark-url which I could adapt to a less verbose format)

[2020-10-16 20:12] tdiprima opened #1896 "ui reference strip++"
Never mind! 👋   Sorry to bother you.

[2020-10-17 13:06] fuqiangZ opened #1897 "Help: How to keep the size of the picture remains the same for different browser sizes"
Hi, i have a pathology image scanned at 20X magnification. I found  when the browser size changed, the image size also changed.

I use autoResize and preserveImageSizeOnResize to keep image size unchanged.
But if i smaller the browser ,  reload the web, the image size smaller too.

I want to keep the image size unchanged no matter the browser size .

eg:
Full screen: every image size is  331:
![im

[2020-10-17 20:12] j-hudecek opened #1898 "Is it possible to force redrawing of the tiles without blank canvas flash?"
I have images that have multiple "versions" (same size, tilesize) and I would like to be able to easily switch between them - when users zoom in deep into one version they should be able to switch to another one without losing where they were. I've put together this (path is the URL of the new "version", sorry for touching your private parts...):

    viewer.tileSources.Image.Url = path;
    viewe

[2020-10-18 08:44] j-hudecek commented on #1898
In the end I've used the recommended multi-image approach - adding all the images to world with opacity 0 and then switching them with some delay

    for (var i = 0; i < versionCount; i++) {
        var image = viewer.world.getItemAt(i);
        if (image.source.tilesUrl == path)
            image.setOpacity(0.01);
        else
            if (image.source.tilesUrl == currentPath)

[2020-10-18 08:44] #1898 closed

[2020-10-19 00:51] MichaelYogar commented on #1609
Hi, I can try to work on this and submit a pull request!

[2020-10-19 01:10] MichaelYogar commented on #1609
@iangilman if you can point me to the right part of the code as you suggested, I can try to fix this. Thanks!

[2020-10-20 00:40] iangilman commented on #1886
Good point! Someone should go through and audit which things should be what level. We already have a number of console.error, console.warn, and console.assert that should stay as is. Probably anything that's console.log should either become console.error (where it's an error message), console.info (if it's still worthwhile information), or removed/commented out (if it's entirely unnecessary).

You

[2020-10-20 00:48] iangilman commented on #1888
The system is set up as much as possible to make you not have to worry about things like tile level, so no, I don't think we have a convenient way to get that information.

I'm curious, what's your scenario? Why do you need to know the current tile level? Perhaps we should provide some sort of accessor for it for such occasions.

[2020-10-20 02:02] xlb commented on #1888
I want to capture the current screen，but i dont konw how to  implement it, so I want to pass it to the background for recalculation to obtain.i has solved this problem yet,thank you for your reply

[2020-10-22 21:28] #1896 closed

[2020-10-23 08:39] #1888 closed

[2020-10-24 09:07] fuqiangZ commented on #1897
I found out the openseadragon uses 1x image size as base.
 It means openseadragon will enlarge the image according to the browser size.
eg:
 I have one big image make up of 16 small image(4*4, and every image size is 256*256), which width is 1024px.
But when I show it by openseadragon, the width becomes to bigger than 1024px.
I know i can limit the div`s width to 1024px.
`<div id="openseadragon1">

[2020-10-24 12:53] fuqiangZ commented on #1897
https://github.com/openseadragon/openseadragon/issues/1462
Same with this issue.

If u want to zoom to 20x, u should first calculate it to viewportZoom. Then zoomTo(viewportZoom)

[2020-10-24 12:53] #1897 closed

[2020-10-26 20:18] tdiprima opened #1899 "Bug? Coordinate conversion functions yield different results."
Deleted

[2020-10-28 16:52] iangilman commented on #1867
This is a WebView inside of a native iOS app, right? Looks like it's running on an iPad (or iPad simulator), is that correct? Is it an iPad Pro? Have you tried it on different devices? Are you able to try it in the regular iOS Safari? Does it have the same problem there?

I believe Xcode has performance logging tools… Have you tried any of those to see if it's having memory trouble or something?

[2020-10-28 16:54] iangilman commented on #388
Interesting. Is there transparency in the image? Do you have it publicly available where I can take a look?

[2020-10-28 21:35] ali1234 commented on #1553
I have a use case where this would be beneficial. I have done high res scans of the front and back of a circuit board. I want to overlay the two scans so that you can "x ray" through the board to see where vias connect. This means the far side has to be flipped. (This is a standard feature of normal PCB design software.)

So it would be easier if I didn't need to flip one of the images before gene

[2020-10-28 22:41] iangilman commented on #1891
It's a nice idea, but I don't think I'm in favor of it, for these reasons:

* It increases our support surface area… Every time we add a new button, we'll have to do it for both icon sets. In fact, the flat icons already don't have all of the buttons we need for the current version of OpenSeadragon.
* It will make our install package bigger.
* Even though there's only one alternate icon pack at th

[2020-10-28 22:48] iangilman commented on #1553
Cool. If you're interested in making a patch, I'd start by taking a look at https://github.com/openseadragon/openseadragon/blob/master/src/tiledimage.js and paying attention to where it interfaces with `viewport.getFlip()` (which is the flip flag for the viewport). Let me know if you have questions! @nelsonn3c probably has ideas as well…

[2020-10-29 14:16] ali1234 opened #1900 "Per-image rotation breaks viewport flip"
Example code: (put in tests)

[code]

Result: the viewport is flipped and images are flipped, but the rotated image pans in the wrong direction horizontally.

[2020-10-29 14:43] ali1234 commented on #1900
Here is another test that breaks flipping for one of the images:
[code]

Seems that flip is not applied after a certain zoom level.

[2020-10-29 16:07] ali1234 opened #1901 "TiledImage.degrees rotates around image centre, not top left corner."
The docstrings claim:

    @param {Number} [options.degrees=0] Initial rotation of the tiled image around its top left corner in degrees.

However, in practice, this option rotates around the centre of the image, as can be seen with this example demo:

[code]

[2020-10-29 16:57] iangilman commented on #1901
Good catch! The documentation should be fixed.

Of course ultimately it would be great if we could control where the images rotated around, but until then, image center seems like the right choice to me.

[2020-10-29 21:27] j-hudecek opened #1902 "canvas.getContext('2d') returns null on Safari"
I haven't seen this one myself but my app sends this error from clients. I don't know how it looks like when this happens or what triggers it but it happens quite often.

	TypeError: null is not an object (evaluating 'this._renderedContext.drawImage') at
	getRenderedContext@https://myapp.com/js/site.min.js...
	drawCanvas@https://myapp.com/js/site.min.js...
	drawTile@https://myapp.com/js/site.min.j

[2020-10-30 01:10] ali1234 commented on #1553
Proof of concept: https://github.com/ali1234/openseadragon/tree/flipmode

Works for HTML and Canvas, including rotated images for the latter.

Two commits: Part 1 flips each individual tile horizontally but does not change the position. Part 2 reverses the column positions. There is no support for changing the flipped state of images after they are loaded.

[2020-10-30 01:27] ali1234 commented on #1553
Hmm I forgot to account for the fact that tiles can be different sizes. As a result this is messed up for real DZIs where the last column is thinner than the rest. Should be easy to fix though.

[2020-10-30 02:22] ali1234 commented on #1553
Fixed the border sizes. I just have a problem with tile culling being reversed now. I can't find the place where it is happening and whatever is doing it apparently isn't using getTileBounds or Tile.bounds to do it.

[2020-11-03 08:50] fnandoz21 opened #1904 "Custom navigation buttons disappear on full screen mode click"
I am using custom navigation buttons for an implementation of openseadragon as shown here:
![image](https://user-images.githubusercontent.com/58253328/97964865-74111880-1d87-11eb-85f2-da84d9cdcc8b.png)

I would like to have these present in full screen mode but they do not persist for some unknown reason:

![image](https://user-images.githubusercontent.com/58253328/97964933-93a84100-1d87-11eb-80bc

[2020-11-04 16:12] tdiprima commented on #1899
When I put my code on **[codepen.io](**url**)**, I changed the styling of the div to use **[OpenSeadragon's](https://cdn.jsdelivr.net/gh/openseadragon/openseadragon.github.com/css/style.css)**, basically.  So instead of setting a style to the div, with `width: 800px` and `height: 600px`, it now uses:

[code]
and then zooming to the ROI and drawing a square around it works.

So.... if people are us

[2020-11-05 15:47] #1899 closed

[2020-11-05 17:39] iangilman commented on #1892
My recommendation is to keep track of the names of the files in an array that matches the order of the tile sources you give to OpenSeadragon. Then when the viewer switches to a different page (watch for the "page" event), you can get the index of the page (available from the event, and also from the `currentPage` method on the viewer), and use that to look up the file name. You can then display t

[2020-11-05 20:23] janokay opened #1905 "Jiggling edges on contrasty lines and overlays"
Hello,

I have a simple question regarding edges/lines of mainly smaller zoomed out images:
I always recognize same jiggle on the edges or contrasty lines... somekind of lag/jumping into final position.

Is there anything I can do to fix it? I think it comes from the zoom smoothing? Or can someone point me into a direction where to investigate further...?

![edges](https://user-images.githubuserco

[2020-11-07 23:25] Jihadik commented on #944
@KempWatson, any progress so far with ZIF format?
@jcupitt, could you send me SZI and ZIP proprietary versions? Maybe I'll be able to buy a license.

[2020-11-09 22:40] iangilman commented on #1021
Hmm... as it turns out, including `getTileUrl` in the tile source flags it as being a custom tile source, so it doesn't actually activate the IIIF code. Because of that, you should load the IIIF tile source as normal but then monkey patch it afterwards. This should do it:

[code]

[2020-11-10 11:50] NSV1991 commented on #619
I also have the same requirement, is it any way possible now to change the aspect ratio of the image or to Stretch the image?

[2020-11-10 19:57] iangilman commented on #619
There appears to have been no recent action on https://github.com/openseadragon/openseadragon/issues/592. If you're up for it, we would welcome a pull request; I'm happy to answer questions about the code as you get into it.

[2020-11-10 21:00] blue-j commented on #1215
sRGB is no longer the best choice for output, as P3 devices proliferate.  Ideally there should be a way for images to be color managed throughout the pipeline.  Most images that are not sRGB are going to be Adobe RGB or Image P3, which have _very_ small profiles.  You can also utilize even more compact profiles provided here:    https://github.com/saucecontrol/Compact-ICC-Profiles

The only proble

[2020-11-10 23:17] jcupitt commented on #1215
libvips dzsave has had a `--no-strip` option for about a year now. You can use it like this:

[code]

And any profile on `big.jpg` will appear on all the tiles in `my-pyramid_files`.

[2020-11-11 05:27] NSV1991 commented on #619
@iangilman Thanks for acknowledgment, I will surely look into the issue and try to solve the problem. I will update you regarding that.

[2020-11-11 06:13] blue-j commented on #1215
I understand that that’s what that switch was made to do, but my chief developer says it doesn’t work and has reported the issue. Do you have a good experience with it?

[2020-11-11 08:28] jcupitt commented on #1215
Yes, someone opened an issue on this a couple of days ago -- it looks like there's a regression in current stable. I plan to fix it today, if I find a little time.

[2020-11-11 14:18] jcupitt commented on #1215
... it's fixed, 8.10.3 will have this sorted out. Out in a few days, or you can use HEAD of the 8.10 branch.

[2020-11-11 17:23] blue-j commented on #1215
You’re very kind to attend to this, thank you so much!!  Is there a way I can donate or send you something in gratitude?

I will push my luck here and ask... how difficult would it be to strip all metadata except the ICC profile block?  I foresee that being a common question for people who want color management but not to publish metadata with every tile of add that small unnecessary weight.

[2020-11-11 18:04] jcupitt commented on #1215
I would use something like python / ruby / php / etc. to strip the unwanted metadata before calling dzsave.

There's a "Sponsor" button on the libvips github if you're feeling generous.

[2020-11-12 16:56] kimberashman opened #1906 "Converting between 'viewport zoom' and 'image zoom'"
I'd like to convert 'viewport zoom' to 'image zoom' from a log where only viewport zoom was recorded. However, when I use the definitions from the documentation, the image zoom isn't correct (I checked this by looking at the numbers displayed on the sidebar when using the application.

Viewport zoom: ratio of the displayed image’s width to viewport’s width.
Image zoom: ratio of the original image

[2020-11-12 17:48] iangilman commented on #1906
I don't think you should include the height at all, so it should be:

image zoom = original image width / (viewport width * viewport zoom)

Using your numbers, I find that 433 * 148.36 = 64239.88. Dividing 64256 by that number gives an image zoom of 1.00025093, which seems about right to me. I'm not sure how to explain the 2.77 you're getting, though.

One thing to be aware of is that the viewport

[2020-11-12 20:00] iangilman commented on #1895
Wow, that's an amazing image! Is it your work?

Anyway, regarding the zooming, I think there are two factors potentially at work here. One is the springs, and the other is the fact that scroll wheel handling on the browser is unfortunately very idiosyncratic.

On the spring front, changing the stiffness is good. You might also try setting the `animationTime` down to something very small. Looks lik

[2020-11-12 21:13] Fil commented on #1895
Thanks for pointing out this location! I inserted D3's code like so and the result is now "correct" (at least according to one person's opinion).

[code]

(I had to multiply d3's "wheel delta" by 5 because the base for D3 is 2, and for OSD it is 1.2).

`animationTime = 0` doesn't solve this issue (but it does solve the other issue as well as setting stiffness to 2).

See https://observablehq.com/d

[2020-11-12 23:42] ahmed4end opened #1907 "how to switch between only two images with button click (speed matters)?"
the following code works but it's a bit slow when switching between the images i hope there is a better way to switch between two images .
`
var viewer = OpenSeadragon({
        id: "wheelzoom.exe",
        prefixUrl: 'https://openseadragon.github.io/openseadragon/images/',
});

viewer.open( [{type: 'image', url: images_viewer_container[0] }, {type: 'image', url: images_viewer_container[1] }] );

[2020-11-13 02:05] kimberashman commented on #1906
Hi Ian,
Thank you for your quick reply. I'm still trying to work backwards to understand the numbers I'm getting. I see how the equation would work, but the 2.77 image zoom makes more sense to me because when I replicate the viewport size/zoom with my pathology image it seems past the native image resolution.

I believe the image is left to its default viewport coordinates, but I'll check.

The im

[2020-11-13 18:01] iangilman commented on #1895
It's looking great! I may be biased, but it seems like it's already smoother than the D3 version, and it'll probably be smoother yet with the debug overlay turned off.

I tried to reproduce this (I have a magic trackpad) on your observable in full screen, and I managed to get it to happen once or twice out of dozens of tries. Is it something that happens more frequently for you? Does it only happe

[2020-11-13 18:49] Fil commented on #1895
I can reproduce the problematic pattern systematically. I hold a point, scroll to the left (or right), and release _in the same movement._ The point under the mouse never ends up being the point that I had clicked on at the beginning of the gesture.

See https://www.dropbox.com/s/kkx55t3nhttov6u/screengrab.mp4?dl=0

(Maybe I am just too used to D3's behavior, but I'm much more comfortable if I "fe

[2020-11-17 06:13] palytoxin commented on #1670
I found change the parameters after initialization, this solution won’t work

[2020-11-20 22:10] iangilman commented on #1670
I'm not sure what you mean by this. Can you give an example, or explain more fully?

[2020-11-20 22:15] iangilman commented on #1906
Whether it's a tiled pyramid or not shouldn't have an effect. Either way, it's still considered a single "image", even if it's made of multiple tiles. What's meant by "multi-image" is if there are more than one such image displayed in the viewport… Then of course it's not possible to know the image zoom at the viewport level because it doesn't know which image you're referring to. In those cases,

[2020-11-20 22:27] iangilman commented on #1907
This should do the trick: https://codepen.io/iangilman/pen/erjyBP

[2020-11-20 22:33] iangilman commented on #1905
I don't know that there's much that can be done about that… You might try adjusting the `minPixelRatio`, which controls at what point between levels to switch from higher resolution to lower. The default is 0.5; see if setting it lower changes anything.

[2020-11-20 22:40] iangilman commented on #1904
There's some discussion of this here: https://github.com/openseadragon/openseadragon/issues/449

You might start first with the suggestion of the bottom, which is to use https://openseadragon.github.io/examples/ui-toolbar/ for putting your controls in.

BTW, when you say you're using custom buttons, do you mean you are just replacing the standard button images but otherwise letting OpenSeadragon c

[2020-11-20 23:01] iangilman commented on #1609
@MichaelYogar Great! Apologies for the delayed response… If you're still interested, here's the info…

You'll want to give the viewer an object property to keep track of which keys are pressed. That can be done somewhere in the viewer's constructor:

https://github.com/openseadragon/openseadragon/blob/4ab8cc748188f6c4dc5ad7d23e91945dd0194173/src/viewer.js#L65

Then you can update the "key down" ha

[2020-11-20 23:05] iangilman commented on #1894
In my experience, that's usually due to some problem with the tiles or the tile source specification. Have you taken a look at the tiles? Does cantaloupe make it possible to do so? What tile source format are you using?

[2020-11-20 23:08] iangilman commented on #1628
That does sound appealing! I don't know enough about the TypeScript ecosystem to know if that's a common scenario. @alvaromartmart any thoughts on that?

[2020-11-21 00:32] mattwolff commented on #1878
I think I might be experiencing something similar to this... I've set custom elements for my `zoomInButton` and `zoomOutButton`. After destroying a Viewer and creating a new one, zooming still works the following errors get logged to the console:
– `Cannot set property 'lastZoomTime' of undefined`
– `Cannot set property 'zooming' of undefined`

Screenshot of the console included as well:
<img widt

[2020-11-21 01:54] iangilman commented on #1878
@mattwolff that does appear to be similar, but unrelated to this navigator issue, so it might be worth filing a separate issue for it.

Would you be interested in working on a patch for it? It seems that your custom button's click handler isn't being removed when the viewer is destroyed. This may be because the button itself isn't being destroyed, or maybe the button's destroy function isn't clean

[2020-11-21 03:11] mattwolff commented on #1878
Yes, I can try looking into this further and filing it as a separate issue. I'll give a shot at working on a patch, though I might be in a bit over my head. Will definitely start from Button.destroy though.

Also good to be reminded of those open / close methods. That might make more significantly more sense here...

[2020-11-21 03:20] mattwolff opened #1908 "Custom Zoom Buttons – destroy() not fully removing them"
I've got custom elements set for my `zoomInButton` and `zoomOutButton`:

[code]
After destroying a Viewer and subsequently creating a new one, these zoom buttons still work but also log the following errors to the console:
– `Cannot set property 'lastZoomTime' of undefined`
– `Cannot set property 'zooming' of undefined`

Screenshot of the console included as well:
<img width="1036" alt="Screen Sho

[2020-11-21 03:21] ahmed4end commented on #1907
thanks it did help .

[2020-11-21 03:21] #1907 closed

[2020-11-21 03:36] ahmed4end opened #1909 "[Performance] loading new tiles with .open() makes TAPS lag for seconds!"
i'm using multiple taps on my site, one of the taps has the openseadragon viewer inside it, when clicking certain button js fires ->
viewer.open(tiles) which causes navigating between taps lags for 2 seconds, what can i do to make it load new images smoothly without doing anything with the performance of the taps switching !

var viewer = OpenSeadragon({
        id: "wheelzoom.exe",
        immedi

[2020-11-21 09:54] wentong12 opened #1910 "how to translate location from one openseadragon view to the other"
I have two openseadragon views, A 10nm/pixel resolution , B is 1nm/pixel resolution, B has 10 times higher resolution than A, but both A and B contain the same object.

People would view A first, and when they look at one location and want to zoom in, they would click B channel, and B would give a deeper zoom in image, and if people want to zoom out, they would click A and find themselves same loc

[2020-11-21 19:42] MichaelYogar commented on #1609
@iangilman Hey, thanks for your reply! I'm still interested in doing this for sure. If this is urgent, you might want to assign it to someone else. If not, I can give this a shot around next month because I'm busy now.

[2020-11-23 12:28] alvaromartmart commented on #1628
Yes, I think that would be much better than having to keep the types at DefinitelyTyped in sync (specially considering that OpenSeadragon releases patch versions, and DefinitelyTyped [only considers minor versions](https://github.com/DefinitelyTyped/DefinitelyTyped#how-do-definitely-typed-package-versions-relate-to-versions-of-the-corresponding-library) in order to determine which types correspond

[2020-11-24 15:41] pr8448bristol opened #1911 "Opening a .zip or .szi instead of a .dzi openseadragon"
I'm setting up a website to display a variety of zoology histology slides. I will preface this by saying that I'm not a web developer so my explanations and understanding might be a bit off!

I have written the code for the website in Python using the Django framework with hosting on a DigitalOcean droplet. The static files are being stored on a remote AWS server which requires a password and secu

[2020-11-25 01:40] zero41120 opened #1912 "Tracking transformation Matrix for IE support"
I'm working on my [PR for Path cropping](https://github.com/openseadragon/openseadragon/pull/1873)

Here is snippet from  1977 to 1985 in `tiledimage.js` in my pull request
[code]

Currently, I'm relying on the `context.getTransform()` to provide the original transformation.
However, this feature is not supported on IE11.
I cannot use the `context.save()` and `.restore()`, because it will undo the

[2020-11-25 05:14] NSV1991 commented on #619
I have gone through code for checking from where the height and width of TiledImage are set, before I make any changes I need to know
1. How does the flow of setting or overriding height and width of Tiledimage work?
2. What are usage of scale, normHeight, spring and contentAspectX?

If I got wrong please correct me, Image is loaded using aspect ratio so that it does not look stretched while loade

[2020-11-27 07:13] palytoxin commented on #1670
sorry for that.
I mean that it's work not fine if I'll changed `tileSource = "http://localhost:4000/dzi_test/test.dzi?foo=bar"` to `xxxi?foo=bar1`

but, I found a way to change it
[code]

[2020-11-29 01:31] tonycstech opened #1913 "Fullscreen not working when code is executed from outside"
Folder structure:
P:\WWW\openseadragon\openseadragon.php located along side with all javascript files
P:\WWW\search.php located in the root. Calls openseadragon\openseadragon.php
Calling for openseadragon.php outside makes fullscreen not working.

[2020-11-29 01:32] tonycstech opened #1914 "Configurations dont work inside openseadragon.js"
I tried changing             maxZoomPixelRatio:      2.1, //-> higher allows 'over zoom' into pixels
no effect at all.
None of the options i change seem to have any noticeable effect.

[2020-12-01 12:30] Adnaan03 opened #1915 "Suggestion to improve the speed of changing tilesources"
We have created the custom ImageJob to load the tiles from indexedDb instead of fetching them from server. First tilesource is loaded fast in around 700-1000ms but consecutive tilesources loading time keeps increasing if we switch them quickly.
So is there any thing in OSD which could be increasing the load time?
We know that loading tiles from indexed db is fast, and there is some extra work bein

[2020-12-02 14:19] johnico opened #1916 "Extend the openseadragon types and adding opensedragon selection types"
Hi

I am using the following package for types :
`    "@types/openseadragon": "^2.4.2",
`

Now i would like to add the openseadragonselection plugin that does not have a type.
I found a nice GitHub with the types I need. :
https://github.com/alvaromartmart/types-openseadragonselection/blob/master/index.d.ts

my question is how can I extend the openseadraogn.viewer types without overriding it

when

[2020-12-03 07:22] MounikaAV opened #1917 "How to display heatmap in tile level"
Hi, I am using openseadragon for my project to visualize medical pyramidal images. I want to display heatmap-like data at the tile level based on my algorithm prediction colors.
Can anyone help me how to achieve this?

Thanks in Advance :)

[2020-12-09 12:34] linxOD opened #1918 "addSimpleImage() overwrites not adds items"
Hi. I am trying to add multiple images to openSeadragon(). Each image has its own URL. What I did so far was initialising openSeadragon() without any image at first. After that I created a loop to access an html-class with multiple image elements and extracts the image src. Within this loop I use addSimpleImage() to add an image for each URL which I got from the html-class in the loop. The scripts

[2020-12-09 16:26] linxOD commented on #1918
I have changed to code a little bit and created an array before passing the image url to OpenSeadragon(). However, while the page loads OpenSeadragon with two images but the images are not displayed and I get the error: "Unable to open [object Object]: HTTP  attempting to load TileSource"

                   var tileSources = [];
                    document.body.querySelectorAll('.openSeaDragon')

[2020-12-10 08:20] linxOD commented on #1918
I solved it by creating var tileSources as object.

                    // OpenSeaDragon Image Viewer
                    var tileSources = [];
                    document.body.querySelectorAll('.openSeaDragon').forEach(function (node) {
                        var imageURL = node.getAttribute('src');
                        tileSources.push({type:'image',url:imageURL});
                        }

[2020-12-10 08:20] #1918 closed

[2020-12-15 09:00] nguyennmt3009 opened #1921 "How to disable drag event only?"
I had a feature which can get pointer color. I've used `setMouseNavEnabled` to disable drag, but it also can't scroll.

Does any way can only disable the drag event? Or enable scroll when  `setMouseNavEnabled = false` .

<img src="https://user-images.githubusercontent.com/42990346/102192473-2cd98400-3efe-11eb-8b78-73e212d82890.png" width="600px" />

[2020-12-21 20:38] jlevy44 commented on #1917
One way of doing this could be blending a heatmap and image in python before converting to a dzi-like format, here's another interesting alternative that I found:

https://github.com/CancerDataScience/HistomicsML2/blob/66b9a4e35bc9f772093f48d32a40a475eb38648f/web_app/js/heatmaps.js#L113
https://github.com/CancerDataScience/HistomicsML2/blob/66b9a4e35bc9f772093f48d32a40a475eb38648f/predict-rest-api

[2020-12-23 01:14] kimberashman commented on #1906
I figured out where my numbers are coming from. The image zoom is the width of the displayed image canvas (which in my case, 1200 px wide) divided by the viewport width.  Alternatively, the viewport zoom * 1200 px / original image width. For instance, if I am fully zoomed out (showing the entire image in the display and viewport), the image zoom is displayed as 0.02  (or 1200 / 64256 px).
<img wid

[2020-12-23 01:14] #1906 closed

[2020-12-23 03:15] nongcundeshifu opened #1922 "How to modify the zoom ratio calculated by the number of tile layers"
hi,How does openseadragon calculate the number of image levels based on the original width and height of the image?

The zoom ratio of each layer of my image is 0.25 instead of the standard 0.5.When I use openseadragon, there is a deviation between his level calculation and the real level of the image.

**such as:**

My image has 4 layers:

Calculation in openseadragon:

Then the "x,y" of the para

[2020-12-23 14:02] sevaTechoPark opened #1923 "how disable pan/zoom not using setMouseNavEnabled"
story:
I must disable pan/zoom on `canvas-press` by some logic
And must enable pan/zoom after `canvas-release`

The only solution that I found is `setMouseNavEnabled`(but this turn off handle `canvas-release`).
To handle `canvas-release`:
[code]
and it works, but may be I can use native solution?

[2020-12-24 06:30] nongcundeshifu commented on #1922
I found the solution.

Reference documents：https://openseadragon.github.io/docs/OpenSeadragon.TileSource.html

You can extend the `TileSource` class and override the `getLevelScale`method on the prototype chain to achieve the scaling between custom image pyramid levels.

[code]

The above scheme is not necessarily suitable, but effective.

[2020-12-24 06:30] #1922 closed

[2020-12-30 03:10] sandhya212 opened #1924 "Unable to open [object Object]: unable to load TileSource"
Hi,

I am trying to setup OpenSeaDragon for viewing multiple images. To get started, I generated a set of zoom files using deepzoom.py for the helloworld.png example. I keep getting the 'Unable to open [object Object]: unable to load TileSource' error as shown here.
<img width="480" alt="Screen Shot 2020-12-29 at 9 13 43 PM" src="https://user-images.githubusercontent.com/14878558/103327197-963eb40

[2020-12-30 03:28] msalsbery commented on #1924
The easiest way to resolve this error (for me anyway) is to copy the tileSources URL and paste it into a browser to make sure I get the XML file back
[code]
I would start by removing that trailing slash ;-)

[2020-12-30 16:58] sandhya212 commented on #1924
Thanks Mark for replying!
I removed the trailing slash and plugged the tileSources URL into a browser. I do get the XML file back.

I suspect this might be how the tiles are created. Not sure. Do you think the file structure I have in helloworld_files looks ok?

[2020-12-30 19:31] msalsbery commented on #1924
Try moving the .dzi (.xml) file up to the dzi folder
[code]
Then change your tileSources URL
[code]

[2021-01-05 05:51] nguyennmt3009 commented on #1921
Solved.
[code]

[2021-01-05 05:51] #1921 closed

[2021-01-07 18:21] sandhya212 commented on #1924
Tried this too. No luck!
:-(

[2021-01-10 19:30] fnandoz21 opened #1926 "Trying to implement image comparison slider on large set of images (500+)"
I am trying to implement something similar to this image comparison slider in a web app that utilizes OSD: https://codepen.io/imoskvin/pen/yOXqvO.

However, when I try to implement this on a large set of image, some over 500 images, the performance greatly decreases. By this I mean that there is a great decrease in frame and this lingers even after I toggle off the slider with a button on my UI. I

[2021-01-13 23:31] manoaman opened #1927 "Multi-overlayed images and advanced features example?"
Hi,

I'm interested if openseadragon supports the following features by default.  The features are similar to what Adobe Photoshop/Illustrator provide on the desktop app, and I was wondering if I could do the same on a web platform.  If not, it would be great if someone can point me to the closest examples available.

Thank you.
-m

Use cases:
1. User wants to overlay multiple images. (5~6 layers,

[2021-01-15 15:28] jo-chemla commented on #944
Hi all, very interesting reads on the possibility to store and stream in OSD, SZI (uncompressed, zipped dzis) or ZIF.

Coming from GIS, the geospatial community has worked out in the recent years a standard way for storing massive georeferenced images, named [Cloud Optimized Geotiff](https://www.cogeo.org/) (Cog or cogeo). This format is indeed just a standard and agreed upon way to store pyramids

[2021-01-16 13:26] serl opened #1928 "Click propagated to underlying element when exiting fullscreen"
Hello,
I'm having an annoying issue with fullscreen in mobile devices.
When exiting fullscreen by clicking the appropriate button, the thing that will appear behind the button gets clicked as well! (I tested with Firefox and Chrome, Android 10, but also in desktop Firefox with dev tools)
In my case, it is the home link, so the user gets teleported away 😭

An example page: https://sanmichelealfiume

[2021-01-17 02:29] abrlam commented on #1926
For clarity, could you provide some starter code? Are you comparing 500 images all at the same time? Or are you comparing 2 images at a time, but there's a selection where you can choose other images?

[2021-01-26 21:27] iangilman commented on #1928
Hello! Doesn't seem like something you did wrong… Perhaps a bug in OpenSeadragon?

Is it still happening? I tried to reproduce on Mac Chrome and Firefox, but when I hit the "leave full screen" button it just exits without doing anything else.

[2021-01-27 10:22] serl commented on #1928
Hello! Thanks for your reply.

I still have the problem. To be clear: I know it happens in Android phones, I guess it may appear in all **mobile devices** as well but I don't have an iPhone to check.

[2021-01-27 17:04] omerbenzvi commented on #1709
regarding to this issue does anyone knows where can I find support to OpenSeadragonFilter Plugin for
typescript (an update index.d.ts file that support this plugin)

thanks

[2021-01-28 09:06] darshats opened #1929 "event.PreventDefaultAction behavior"
Hi,
What is the right way to suppress an event from bubbling up after a handler has been called?
In my case, I am hooking up the mousetracker for nonPrimaryPress. In the event handler I set the event.preventDefaultAction to true to indicate (in my understanding) that the framework should not invoke any other handlers. But I do see the browser's default context menu also popup.

At line 2781 of ope

[2021-01-29 02:10] oncoml opened #1930 "Accessing viewer.world object elements"
Hi,

Apologies for the newbie question: am trying to get the x and y coordinates of my image from the viewer.world object. But when I entered `console.log(viewer.world._contentSize.x` I obtain the value "1" instead of the x size:

![Screen Shot 2021-01-29 at 09 07 48](https://user-images.githubusercontent.com/65208609/106222230-ad83e380-6211-11eb-92de-705e9dbde73e.png)

I can see the full image x

[2021-01-29 06:03] oncoml commented on #1930
Never mind, I figured it out. Just needed to put a width and height variable in a handler function that executes when viewer opens:

`viewer.addHandler('open', function () {
  width = viewer.world.getItemAt(0).source.dimensions.x;
  height = viewer.world.getItemAt(0).source.dimensions.y;
...`

[2021-01-29 06:03] #1930 closed

[2021-01-29 11:24] alvaromartmart commented on #1916
Hi @johnico, sorry for the late response. To be honest I'm not being able to dedicate time to the typings lately.
Maybe this helps:
https://github.com/alvaromartmart/types-openseadragon/issues/5#issuecomment-532053867
Good luck!

[2021-01-29 19:47] zero41120 opened #1931 "Disable Viewport visibility constraining bouncing behavior"
While working with a syncing pan viewer behavior, the dragging to edge bouncing back does not correspond to a pan or canvas drag event. So I was not able to sync it correctly.

Is there a way to disable this bounce or get an event from the bounce?

[2021-01-30 13:56] Gao-Vidor opened #1932 "OpenSeadragon navigator not showing full image"
I use DeepZoom to  generate OpenSeaDragon file tree,but I set  **showNavigator: true**,but no full image in the navigator.

`var viewer = OpenSeadragon({
	id: "contentDiv",
	prefixUrl: "/static/images/1/",
	toolbar: "toolbarDiv",
	sequenceMode: true,
	showReferenceStrip: true,

         showNavigator: true,
         navigatorTop: "50px",
         navigatorLeft: "200px",
         navigatorHeight: "

[2021-02-01 18:30] lledieu opened #1933 "Navigator still visible"
Hi,

I am trying to hide navigator on user demand using OpenSeadragon.Navigator.setVisible( false )

The contents of navigator is hidden but the dark rectangle is still there (2 parents div as i can see). Maybe I am not supposed to act directly on navigator... Where can I found a working example ?

[2021-02-01 18:33] lledieu opened #1934 "Adding page number in ReferenceStrip"
Hi,
I would like to add page number (or any text) inside ReferenceStrip but I can't find how to do it. Any idea ?

[2021-02-02 09:18] jaroslawwroblewski opened #1935 "How to get image corner position after rotate?"
I found many examples of how to pan an image, but I don't know how to get information about the position of the image in the viewport... How can I get the image corner position after rotation?

![osd_rotate](https://user-images.githubusercontent.com/40166450/106578564-edafd280-653f-11eb-916f-f78ec8f7ceaa.png)

[2021-02-03 10:40] lledieu opened #1936 "Improvement for Zoomify and topview try"
Hi,

I've made an alternative to Zoomify to make it works for "/test/data/zoomify/ImageProperties.xml" (sample : "https://hatch.vtech.fr//cgi-bin/iipsrv.fcgi?zoomify=/home/httpd/ad02/data/files/images/FRAD002_EC/FRAD002_5Mi0288/FRAD002_5Mi0288_1271.jpg/ImageProperties.xml")
https://github.com/lledieu/alternative-viewer/blob/main/openseadragon-zoomify.js

Another one for topview.json (but one url i

[2021-02-05 20:02] zero41120 commented on #1935
If you set rotation on the tile image, not viewer, then you can do this:
[code]

[2021-02-05 21:01] zero41120 commented on #1931
I found it
[code]

Setting that to 0 will disable the bounce

[2021-02-05 21:01] #1931 closed

[2021-02-05 22:14] lledieu commented on #1934
I've tried this :

[code]

Having in CSS :
[code]

It works for visible sources in referenceStrip but I think I need an event to be raised each time a miniviewer is built...

[2021-02-05 22:21] lledieu commented on #1933
It seems to work with this :

`viewer.navigator.element.classList.toggle( "inactive" );`

With CSS :

[code]

[2021-02-06 09:08] lledieu commented on #1934
One step more :
[code]
It works better but I still miss something when scrolling on referenceStrip...

[2021-02-07 08:24] lledieu commented on #1934
I got it !

[code]
If I remove and add the referenceStrip, I need to init again :
[code]

[2021-02-08 21:13] PoorBillyPilgrim opened #1938 "Poor performance in Safari and Chrome on iPhone 6"
I am a relatively new developer currently working on building a digital exhibit for the Georgia Tech Library. I am using OSD to display user submitted art.

Here is the [demo](https://art-crawl-exhibit.herokuapp.com) and here is the [branch](https://github.com/PoorBillyPilgrim/artcrawl-digital-exhibit/tree/square-grid) it was deployed from. The images are stored in `/public/images/iiif` and the vi

[2021-02-09 08:55] fr75 opened #1939 "Toggle control button"
Hi,

I have added a new control button named below "customButton" to toggle masking/displaying layers by this way :

      customButton = new OpenSeadragon.Button({
                 tooltip: 'Masque/Démasque les couches (Toggle layers visibility)',

                  srcRest: '../bouton_visibilite_couches_inactif.png',
                  srcGroup: '../bouton_visibilite_couches_inactif.png',

[2021-02-09 15:01] fr75 commented on #1939
I have succeded in toggling the button appearence by updating the DOM directly. This is done by the fucntion below.
But maybe there is a better way ?

        // Assume in this example, boutonGroupe = coll_10_4.buttons

        // Change the button appearance
            function etatBoutonCouchesMasquees(boutonsGroupe, etat) {
                if (customButton == null) {
                    consol

[2021-02-10 15:30] msalsbery commented on #1579
Context menu now enabled by default in MouseTracker (#1872)

[2021-02-11 00:34] msalsbery commented on #1929
Hi @darshats  There's a large overhaul of MouseTracker that will hopefully land soon. It's being tested and some final changes being tinkered with, but if you want to check it out [see here](https://github.com/openseadragon/openseadragon/pull/1872#issuecomment-673608460)

Once it's finalized in the next day or three I'll be able to offer possible solutions...

[2021-02-11 14:53] Shaked opened #1941 "Question: is there a plan to have an official reactjs support?"
Hey,

I have been using OSD for long time now and I'm planning to move the project to either ReactJS or go in a completely different direction and use [https://svelte.dev/](svelte).

Before even getting into actual code, I wanted to see if there's a plan to support a ReactJS version of OSD?

Thank you
Shaked

[2021-02-11 15:14] msalsbery commented on #1941
I can’t imagine a React version of OpenSeadragon but a React component wrapper may be useful in some dev situations.

OpenSeadragon works well in React, and should be relatively easy to use in other Javascript frameworks as well

[2021-02-11 18:07] nikushx commented on #1923
viewer.panHorizontal = false;
viewer.panVertical = false;

should do the trick in your case.

[2021-02-12 16:29] msalsbery commented on #1908
@mattwolff  Thank you for reporting this!

If you have a few minutes to spare, I have a large patch for MouseTracker in the works...could you maybe try [the OpenSeadragon preview build here](https://github.com/openseadragon/openseadragon/pull/1872#issuecomment-673608460) and see if the issue is still there?

Regardless, I will investigate this further...

[2021-02-12 17:10] kimberashman opened #1942 "png pyramid artifacts"
Hi,
I noticed when I use an image pyramid of png tiles, grey lines appear in the viewer. I made the pyramid using the same method ([libvips](https://libvips.github.io/libvips/API/current/Making-image-pyramids.md.html)) I used for creating jpeg pyramids (without the artifacts). There are the same number of tiles in both the jpeg and png pyramids.

There is a 1 pixel overlap. The xml file:
<?xml ver

[2021-02-12 17:26] alvaromartmart commented on #1942
This may actually be related to #1683

[2021-02-12 17:32] kimberashman commented on #1942
@alvaromartmart thank you for the link, it is a firefox issue. I just tried it in chrome and the lines disappeared.

[2021-02-12 17:32] #1942 closed

[2021-02-13 15:27] Shaked commented on #1941
@msalsbery, I did see that OSD works well in React, but my main concern is how much work I'd have to put around it in order to make it work. I saw https://github.com/samvera-labs/openseadragon-react-viewer which seems to be quite big for a wrapper and my main concern is its maintenance.

[2021-02-13 20:38] Sataniel98 opened #1943 "Overlay appears at the wrong position initially, then moves upon zooming"
When I add a runtime overlay (the little coat of arms), it sometimes initially appears at a wrong position, but jumps to the correct spot once I start zooming in / out a bit. Not much of a big deal but I'd like to know if I can prevent this somehow.

The problem is reproducible in Chrome, Edge & Firefox.

https://youtu.be/d8gYAF2cDzQ

Source: https://github.com/ItineraryMap/itinerarymap.github.io/

[2021-02-16 14:43] ovanderzee opened #1944 "in initial home view, the image is clipped a few pixels"
When you show a photo you might not notice it, but when
a picture has horizontal lines at the bottom, or vertical lines on the right, these are not visible.

A workaround in to add:
[code]
to the openseadragon configuration. But that should not be necessary.

Seen in version 2.4.2 and but also in version 2.1.0.

A playground to demonstrate it: https://github.com/ovanderzee/osd-edge-visibility

[2021-02-19 09:37] widget-zp opened #1945 "overlays in fullscreen mode"
Sorry for my bad English.
I want to create hotspots with OpenSeadragon with "overlays". That works fine too. However, the HotSpots are not displayed in fullscreen mode.

[code]
[code]

[2021-02-23 11:10] #1932 closed

[2021-03-02 07:39] ruqayya opened #1946 "Fixing the translation offset between a pair of images"
Hi,

I have pairs of histology images that I display side by side as shown in the screenshot below. There is some offset in the images that I want to fix. I was previously using Tkinter interface and was able to fix the translation offset using phase correlation. With openseadragon, I am not sure, how to access tiles (for phase correlation) before they are displayed on the viewer. Any help, please

[2021-03-02 16:25] #1819 closed

[2021-03-02 20:08] msalsbery commented on #1941
@Shaked

The example link you showed may be very involved working with IIIF images, but using OpenSeadragon in React by itself doesn't take much, for example:
[code]
How much you add to that would be project-dependent, of course :)

[2021-03-02 21:51] msalsbery commented on #1928
@serl

If you have time, could you please try the [OpenSeadragon library build here](https://github.com/openseadragon/openseadragon/pull/1872#issuecomment-673608460)

Although that patch doesn't change anything specific to full-screen, the updated event handling (coming v2.5.0) may fix the issue

[2021-03-02 21:58] msalsbery commented on #1914
@tonycstech

Once a viewer is created, try changing the value on the viewer's viewport object (e.g. viewer.viewport. maxZoomPixelRatio)

[2021-03-02 22:07] msalsbery commented on #1911
@pr8448bristol

There's no support for extracting images or image tiles from files.

.dzi tile sets should work in your situation, however...what problems are you encountering there?

[2021-03-02 22:17] msalsbery commented on #1909
@ahmed4end

The majority of the work done when opening a tile source is asynchronous so your UI _shouldn't_ be slowed much. Do you have any event handlers on your viewer that wait for anything?

[2021-03-03 01:29] ahmed4end commented on #1909
@msalsbery yeah i do have handlers.... i use .open() to open two images then the handlers are for the swapping between the images in the viewer .

[2021-03-05 00:05] dabomb1004 opened #1947 "Openseadragon Zoomify tile source with AWS S3 presigned URL"
Dear openseadragon community!

I am really excited to use openseadragon for our civil engineering inspection platform.

I can successfully render images using openseadragon when the pyramids are stored in the ec2 but unable to do the same when the pyramids are stored in a private s3 server. I am trying to figure out how to call the pyramids using presigned url. I can get specific images to render.

[2021-03-06 20:46] jakobgager opened #1948 "Troubles with correct coordinate transformation when capturing a selection as image"
I try to capture a part of an image as base64 png (canvas.toDataURL).
To this end, I use the selection plugin and work with the onSelection event.
The rect from the event is transformed from image coordinates to appropriate canvas coordinates. Here I use
[code]
to get the transformed coordinates. With these I create e new canvas and use the canvas.getContext('2d').drawImage function to get the cro

[2021-03-07 19:32] rsimon commented on #1948
Not sure how far off things are in your case. But I have implemented something similar for [Annotorious](https://github.com/recogito/annotorious-openseadragon) and that seems to match the selection ok. Here's the code I'm using:

https://github.com/recogito/annotorious-openseadragon/blob/main/src/util/ImageSnippet.js

[2021-03-07 19:42] rsimon commented on #1855
Hi. Finally revisited this after a long time. In the end, I think it's not possible to implement useful WMTS support purely with a tilesource.

1. WMTS have an XML "manifest" which needs to be loaded before, and which defines the properties of the tilesource.
2. there's also the issue of dealing with geo-coordinates.

The first issue, I assume, could be handled somehow (after all, IIIF manifests w

[2021-03-07 19:53] msalsbery commented on #1855
Even DZI images have an XML “manifest” so I wouldn’t think that’s an issue...

I personally think all tile sources should be plugins so developers can just pull in the ones they use.

Very cool!

[2021-03-08 06:24] #1855 closed

[2021-03-08 07:25] jakobgager commented on #1948
@rsimon thanks for your code! I'll have a look at it.
In the mean time I also discovered picturae/openseadragonselection/issues/40 which seems like more of less the same issue. Unfortunately this is still open.
Grüße aus Favoriten!

[2021-03-08 07:55] rsimon commented on #1948
Ah - I wasn't aware of this issue. Without knowing how the `rect` is computed, it's hard to tell what's going on that code.

But, yes, it's tricky ;-) There are multiple coordinate systems involved, and there are multipe ways to get there. In my case:

1. I started with the bounds of the selection in the browser. (The selection is also rendered as an SVG shape, so I can get the bounds via `.getBou

[2021-03-08 10:48] jakobgager commented on #1948
Your approach works perfectly! Now I create an overlay using the addOverlay function from openseadragen (so they handle the transformation for me) and get the bounds of the created div to be used with your code.
I have no idea what's wrong with the original approach, but I'm fine with the current solution.
Thanks again!

[2021-03-08 10:48] #1948 closed

[2021-03-08 17:35] #1878 closed

[2021-03-09 19:07] msalsbery commented on #1867
@q990724

I don't think this is a pointer-events related issue, but now that #1872 has landed it may be worth retesting with the latest OpenSeadragon build...

[2021-03-09 19:07] msalsbery commented on #1728
Fixed for v2.5.0 (#1872)

Feel free to reopen if issue persists!

[2021-03-09 19:07] #1728 closed

[2021-03-09 19:11] msalsbery commented on #1753
@nikreations

Now that #1872 has landed it may be worth retesting with the latest OpenSeadragon build...

[2021-03-09 19:13] msalsbery commented on #933
IE < 11 no longer supported as of #1949

New overhauled pointer-events (MouseTracker) code for v2.5.0 (#1872)

Closing this...Feel free to reopen if issue persists!

[2021-03-09 19:13] #933 closed

[2021-03-09 19:14] msalsbery commented on #1849
Fixed for v2.5.0 (#1872)

Feel free to reopen if issue persists!

[2021-03-09 19:14] msalsbery commented on #427
Fixed for v2.5.0 (#1872)

Feel free to reopen if issue persists!

[2021-03-09 19:14] #427 closed

[2021-03-09 19:28] msalsbery commented on #1600
Fixed for v2.5.0 (#1872)

Feel free to reopen if issue persists!

[2021-03-09 19:28] #1600 closed

[2021-03-09 19:29] msalsbery commented on #1413
Fixed for v2.5.0 (#1872)

Feel free to reopen if issue persists!

[2021-03-09 19:29] #1413 closed

[2021-03-09 19:32] msalsbery commented on #1652
@wesleyfok

Fixed for v2.5.0 (#1872)

[Here's a CodePen](https://codepen.io/msalsbery/pen/dyOeXqO) that shows what can be done...

Feel free to reopen if issue persists!

[2021-03-09 19:32] #1652 closed

[2021-03-09 19:36] msalsbery commented on #1505
@ruisilva450

Now that #1872 has landed, it should be much easier to get control of the pointer events

[Here's a CodePen](https://codepen.io/msalsbery/pen/dyOeXqO) that shows what can be done...

[2021-03-09 19:38] msalsbery commented on #1476
@AlexDarbyFujitsuGmail

Now that #1872 has landed, it should be much easier to get control of the pointer events

[Here's a CodePen](https://codepen.io/msalsbery/pen/dyOeXqO) that shows what can be done...

[2021-03-09 19:41] msalsbery commented on #1459
Fixed for v2.5.0 (#1872)

Feel free to reopen if issue persists!

[2021-03-09 19:41] #1459 closed

[2021-03-09 19:45] msalsbery commented on #1669
#1872 has now landed and adds support for passive event handlers.

I'm keeping this open until I've tested some scenarios a little further...

[2021-03-09 19:50] msalsbery commented on #1534
@saurabh14t

#1872 has landed! Are you still having issues here or did you get it sorted?

[2021-03-09 19:51] msalsbery commented on #1586
@CezCz

Now that #1872 has landed, it should be much easier to get control of the pointer events

[Here's a CodePen](https://codepen.io/msalsbery/pen/dyOeXqO) that shows what can be done...

[2021-03-09 19:54] msalsbery commented on #326
Fixed for v2.5.0 (#1872)

Feel free to reopen if issue persists!

[2021-03-09 19:54] #326 closed

[2021-03-09 19:55] msalsbery commented on #1767
Documentation fixed/enhanced for v2.5.0 (#1872)

Feel free to reopen if issue persists!

[2021-03-09 19:55] #1767 closed

[2021-03-09 20:07] msalsbery commented on #1780
@iangilman  @Jithesh363

Now that #1872 has landed, it should be much easier to get control of the pointer events

[Here's a CodePen](https://codepen.io/msalsbery/pen/dyOeXqO) that shows a bit of what can be done...

[2021-03-09 21:19] nikreations commented on #1753
Thanks @msalsbery I just quickly replaced the js with the build and tested. Clicking/tapping on overlays did not work (same as 2.5). So I can't check if the initial problem still exists. But I have just tested 2.4.2 again and it seems the issue I reported is almost gone!! Only if I was nitpicking, I would say just some slight judder when swiped or zoomed but very much acceptable. It has been a whi

[2021-03-09 21:25] msalsbery commented on #1753
@nikreations  Thanks for the quick reply! Where did you get the build? I don't think it's officially up yet as we had an issue with tests not passing yesterday (I'm waiting for @iangilman to get the fixed tests merged in and do a build ;-))

[2021-03-09 21:35] nikreations commented on #1753
Oh I see, It was one of the links in #1872 https://openseadragon-imaging.github.io/old-demo/lib/openseadragon.min.js
It had a build date of 2nd March 2021.

[2021-03-09 21:37] msalsbery commented on #1753
@nikreations  Ok cool...that should be pretty close to the final version (I haven't updated the builds since the PR landed, yet)

[2021-03-09 21:40] msalsbery commented on #1753
@nikreations

Regarding clicking/tapping on overlays...[here's a CodePen](https://codepen.io/msalsbery/pen/dyOeXqO) that shows a new way of using MouseTracker on overlays and controlling the bubbling/disposition of events

[2021-03-09 22:48] msalsbery commented on #1928
@serl

I'm working on a fix for this...

Just to clarify - you're using OpenSeadragon built-in buttons on the viewer and not custom buttons in a different place on the page, correct?

[2021-03-10 13:29] saurabh14t commented on #1534
@msalsbery
I got it sorted with the suggestion of @iangilman .
Thanks for checking it.

[2021-03-10 13:47] #1534 closed

[2021-03-10 18:15] rmontroy commented on #1863
What about these parts?
https://github.com/openseadragon/openseadragon/blob/ab3f49abe3b80ed110a9ab592086d89fd5bc4198/src/openseadragon.js#L2301
https://github.com/openseadragon/openseadragon/blob/ab3f49abe3b80ed110a9ab592086d89fd5bc4198/src/openseadragon.js#L2476-L2481

[2021-03-10 18:18] msalsbery commented on #1863
Clearly I didn't search on enough variations of "IEx"...Up for submitting a pull request? :)

[2021-03-10 20:16] msalsbery commented on #1579
@joedf

[Builds and demo sites here](https://github.com/openseadragon/openseadragon/pull/1872#issuecomment-673608460)

[2021-03-10 23:22] joedf commented on #1579
@msalsbery Okay, I can confirm that navigation is not broken with touch event on firefox 86, so we can close this.

Though, when a finger is on the screen for more than 1-2s (the approx. time for the context menu to normally show up) the windows 10 animated square shows up (quirky, but okay and non-breaking) but no context menu (as expected, good) but the positioning will jump a little. Meanwhile,

[2021-03-10 23:28] msalsbery commented on #1579
@joedf  great thank you for checking!!

[2021-03-10 23:28] #1579 closed

[2021-03-10 23:48] iangilman commented on #1846
I've been falling behind on doing code review, so there are a lot of pull requests pending. I'm thinking maybe we should get those through the pipeline before doing anything that changes the code formatting, since it would likely bring a bunch of merge conflicts into all of those pull requests.

I'll see if I can find some time to start reviewing again… Of course any you want to do is also great,

[2021-03-10 23:59] msalsbery commented on #1846
Oh geez, yeah good idea!

Cool, I'll see what I can do!

[2021-03-12 00:44] mnyrop opened #1952 "tile source with referenceStripThumbnailUrl and url?"
Hello,

**My Tl;dr questions are:**
- Can I add tile sources each with a IIIF json `url` AND a `referenceStripThumbnailUrl`?
- Is there a way to get the `referenceStrip` to work without this? (e.g., different config settings or standard derivative sizes I should be generating?)

**Context:**
I've been following along with some issues in the repo and stealing ideas, but I'm still struggling **to ge

[2021-03-12 09:26] ronnymikalsen commented on #1763
@iangilman PR ready :-)

[2021-03-12 19:38] #1863 closed

[2021-03-13 19:21] cheuksing opened #1955 "Remote DZI and webp"
I have my dzi and image host on 1 server and all images are cached by an CDN.
Unfortunately, my CDN doesn't support .dzi caching.
However it supports returning a webp image instead if users browser support.

2 Question,
Can I know my .dzi from mydomain.com, and all other tiles form cdn.mydomain.com?
Can Osd handle webp format?

Thank you very much.

[2021-03-13 19:49] SamHall commented on #1947
Your using a different approach than I do - but I store my files on S3 and it works well.
I reference the .dzi file as a tilesource.
To use it this way, I had to make the permissions 'public'. S3 warns against that, however, I think this is a valid use of read-only rights.

Example:
tileSources: [
  "https://s3.amazonaws.com/dzchattzoom/whiteoak2.dzi",
   "https://s3.amazonaws.com/dzchattzoom/011_

[2021-03-13 19:52] SamHall commented on #1952
I abandoned the reference strip and used flickity.js instead. It seems to work well.
In this example I use styled numbers in boxes, but you could use small thumbnails instead.

https://chattanoogahistory.com/williamspapers.php

[2021-03-15 22:41] msalsbery commented on #1586
[This CodePen](https://codepen.io/msalsbery/pen/dyOeXqO) should demonstrate use cases for handling events on overlays.

Closing this...feel free to reopen if there's still an issue!

[2021-03-15 22:41] #1586 closed

[2021-03-15 23:02] msalsbery commented on #1923
@sevaTechoPark

When version OpenSeadragon 3.0.0 is released you can do something like this:
[code]
You can try it now by building off the master branch here or [there's test builds here](https://github.com/openseadragon/openseadragon/pull/1872#issuecomment-673608460)

[2021-03-15 23:22] msalsbery commented on #698
@iangilman  @friarpat

This issue is really old...is it still a valid issue?

As far as I know we correctly compensate for zoomed/scrolled elements. I'd definitely want to know if it's still an issue with the code currently on the master branch (v3.0.0)

[2021-03-16 20:47] iangilman commented on #1955
One approach is to use the information from the DZI file and give that directly to OSD, like so:

https://codepen.io/iangilman/pen/gpejpJ

BTW, `.xml` is a valid extension for DZI files, so if your CDN supports that, you could solve the issue that way.

As for handling webp, we've just landed a patch to help with that: https://github.com/openseadragon/openseadragon/pull/1954 If you want to use it,

[2021-03-16 21:00] iangilman commented on #1952
@mnyrop in https://github.com/mnyrop/osd_test/blob/main/src/osd-2.js you should change line 10:

[code]

...to:

[code]

[2021-03-16 23:12] mnyrop commented on #1952
thanks @iangilman! that works perfectly. i'll leave the repo up (with fix added) in case this ticket is useful to anyone else.

[2021-03-16 23:13] #1952 closed

[2021-03-17 21:29] msalsbery opened #1959 "Test failure in Safari: Hangs on "Basic: CrossOriginPolicyAnonymous" Test"
Safari Version 14.0.3 (16610.4.3.1.7) (on iMac)

Tests hang on on "Basic: CrossOriginPolicyAnonymous" test, won't abort...

<img width="851" alt="OpenSeadragon-Test-Safari" src="https://user-images.githubusercontent.com/4570990/111540877-f1349d00-872c-11eb-8337-122f6fe4386b.png">

[2021-03-18 01:14] msalsbery commented on #1669
Our wheel event handling is correct in its need to call preventDefault so can't be passive. Not anything we can do about the warning.

OpenSeadragon.addEvent() now supports the EventTarget.addEventListener() options parameter on user agents that support it. We don't use it internally as we have no hard-coded passive event handling.

Closing this...feel free to re-open if it's still an issue!

[2021-03-18 01:26] msalsbery commented on #1927
@manoaman

Your first three use cases are supported, although you'll need to provide the UI for users to use those features.

For SVG overlays, OpenSeadragon doesn't have that built-in, but there's plugins available that may help out, or t least get you started (see [OpenSeadragon Plugins](http://openseadragon.github.io/#plugins))

[2021-03-18 02:58] msalsbery commented on #1943
@Sataniel98

I don't see where in the code the markers get created and added...it sounds like it's being done before the viewer image is open, but that's just a guess.

For what it's worth, if you add markers in a 'canvas-click' event handler then it may help to add this in the handler function to prevent the default click-to-zoom behavior:
[code]

[2021-03-18 03:15] msalsbery commented on #1945
@widget-zp

I can't see any issue immediately looking at the code...

Do the overlays in [this CodePen](https://codepen.io/msalsbery/pen/dyOeXqO) show correctly when toggled to full screen?

[2021-03-18 03:25] msalsbery commented on #1908
@mattwolff

Now that #1884 is merged in I'm curious if it resolved your issue as well...

[Latest builds from master branch here](https://github.com/openseadragon/openseadragon/pull/1872#issuecomment-673608460) if you'd like to test it out...

[2021-03-18 16:33] msalsbery commented on #1826
This should be fixed as of #1872

@bsait  The next version hasn't been released yet, but if you're still having an issue here can you test off a master branch build? Also there's [preview builds here](https://github.com/openseadragon/openseadragon/pull/1872#issuecomment-673608460)

[2021-03-18 16:35] msalsbery commented on #1864
Closing this...feel free to re-open if issue persists!

[2021-03-18 16:35] #1864 closed

[2021-03-18 18:18] msalsbery commented on #1312
Closing this, feel free to re-open if issue persists!

[2021-03-18 18:18] #1312 closed

[2021-03-18 18:21] #1372 closed

[2021-03-18 18:23] iangilman commented on #1927
Here's info on the API for multiple images: http://openseadragon.github.io/examples/multi-image/

[2021-03-18 18:33] msalsbery commented on #1800
Closing this, feel free to re-open if there's any issues!

[2021-03-18 18:33] #1800 closed

[2021-03-18 18:41] msalsbery commented on #1797
@Salitehkat

You can also use [Viewer.addOverlay](http://openseadragon.github.io/docs/OpenSeadragon.Viewer.html#addOverlay) to add HTML overlays to an already-existing viewer.

Here's an example that programmatically creates and adds an overlay when the user clicks in the viewer
[code]

[2021-03-18 18:53] msalsbery commented on #1787
@zero41120  @samyuan31515

No need to create and attach another MouseTracker...Viewer exposes a 'navigator-scroll' event...
[code]

[2021-03-18 19:35] #1745 closed

[2021-03-18 20:10] msalsbery commented on #1680
Here's some more info captured running on Edge Version 89.0.774.54 (Official build) (64-bit)

![image](https://user-images.githubusercontent.com/4570990/111690940-0243e380-87eb-11eb-855c-324e61acbd85.png)

They all may be expected errors that we're testing the handling of...

[2021-03-18 20:12] msalsbery commented on #1674
Closing this...feel free to re-open if issues persist!

[2021-03-18 20:12] #1674 closed

[2021-03-18 20:17] msalsbery commented on #1665
Closing this...feel free to re-open if issue persists!

[2021-03-18 20:17] #1665 closed

[2021-03-18 20:22] msalsbery commented on #1649
@VenkateshwarRaoB  Closing this...feel free to re-open if you still have questions or issues!

[2021-03-18 20:22] #1649 closed

[2021-03-18 20:26] msalsbery commented on #1621
Related to #497

[2021-03-18 20:28] msalsbery commented on #1620
Closing this...feel free to re-open if there's any more questions or issues!

[2021-03-18 20:28] #1620 closed

[2021-03-18 20:32] msalsbery commented on #1606
Closing this...feel free to re-open if there's any more questions or issues!

[2021-03-18 20:32] #1606 closed

[2021-03-18 20:40] msalsbery commented on #1472
@oyy123

When version 3.0.0 is released, there's a bunch of new stuff to make these things easier!

Closing this for now...feel free to re-open if there's any more questions or issues!

[2021-03-18 20:40] #1472 closed

[2021-03-18 20:49] msalsbery commented on #1382
@1Map

[here's something new](https://github.com/recogito/openseadragon-wmts)

[2021-03-18 20:50] msalsbery commented on #1373
@nein09

I haven't seen any navigator test problems in quite a while...is this still an issue?

[2021-03-19 18:29] iangilman commented on #1680
The 404s definitely are. I wonder if there's some way to suppress them in the output?

The fullscreen errors look like they are because it wants an actual user to initiate it. Perhaps we need to mock out that aspect somehow so we are testing the other bits of the fullscreen code without relying on true fullscreen.

[2021-03-19 18:36] msalsbery commented on #1680
@iangilman I looked at the fullscreen tests...could only find one, couldn’t find another one, but the one I found specifically noted in the code that it will always fail for that reason. So it’s known issue, and that test doesn’t fail since it’s accounted for.

i have no idea yet how we might suppress the messages...apparently any console output gets emitted? Maybe there’s a quiet mode in qunit?

[2021-03-21 23:08] mattwolff commented on #1908
Yes! Just tested it out and this is no longer an issue – amazing overhaul.

[2021-03-21 23:51] msalsbery commented on #1908
Awesome, thank you for checking!

[2021-03-22 01:47] #1908 closed

[2021-03-22 01:48] mattwolff commented on #1908
Resolved by #1884

[2021-03-22 17:47] iangilman commented on #1680
Strange. Well, they aren't causing any harm, so I would consider it low priority.

[2021-03-22 21:03] amroc-dev commented on #1753
Just wanted to say I've noticed the slow down problem on my iPhone Safari. I've noticed that the slowdown always begins after you have fully released all touches *for the first time*. So with your very first interaction you can pinch with two fingers, then leave one finger on the screen, pan around, zoom again with two fingers, and so on, and so long as you leave at least one finger touching, the

[2021-03-23 22:01] iangilman commented on #1753
@amroc-dev thank you for the report! Is that with the current release (e.g. what's on http://openseadragon.github.io/) or with the latest master since PR #1872 was merged?

[2021-03-23 22:08] #1554 closed

[2021-03-23 22:13] #1253 closed

[2021-03-23 22:13] #1272 closed

[2021-03-23 22:13] #1275 closed

[2021-03-23 22:13] #1277 closed

[2021-03-23 22:13] #1281 closed

[2021-03-23 22:13] #1290 closed

[2021-03-23 22:13] #1294 closed

[2021-03-23 22:13] #1295 closed

[2021-03-23 22:13] #1296 closed

[2021-03-23 22:13] #1299 closed

[2021-03-23 22:13] #1308 closed

[2021-03-23 22:13] #1314 closed

[2021-03-23 22:13] #1316 closed

[2021-03-23 22:13] #1317 closed

[2021-03-23 22:13] #1322 closed

[2021-03-23 22:13] #1323 closed

[2021-03-23 22:13] #1325 closed

[2021-03-23 22:13] #1114 closed

[2021-03-23 22:13] #1307 closed

[2021-03-23 22:13] #1311 closed

[2021-03-23 22:13] #1327 closed

[2021-03-23 22:13] #1329 closed

[2021-03-23 22:13] #1334 closed

[2021-03-23 22:13] #1335 closed

[2021-03-23 22:13] #1341 closed

[2021-03-23 22:13] #1342 closed

[2021-03-23 22:13] #1347 closed

[2021-03-23 22:13] #1348 closed

[2021-03-23 22:13] #1349 closed

[2021-03-23 22:13] #1350 closed

[2021-03-23 22:13] #1366 closed

[2021-03-23 22:13] #1368 closed

[2021-03-23 22:13] #1375 closed

[2021-03-23 22:13] #1376 closed

[2021-03-23 22:13] #1377 closed

[2021-03-23 22:13] #1378 closed

[2021-03-23 22:13] #1395 closed

[2021-03-23 22:13] #1396 closed

[2021-03-23 22:13] #1398 closed

[2021-03-23 22:13] #1400 closed

[2021-03-23 22:13] #1403 closed

[2021-03-23 22:13] #1417 closed

[2021-03-23 22:14] #1420 closed

[2021-03-23 22:14] #1424 closed

[2021-03-23 22:14] #1428 closed

[2021-03-23 22:14] #1438 closed

[2021-03-23 22:14] #1440 closed

[2021-03-23 22:14] #1449 closed

[2021-03-23 22:14] #1451 closed

[2021-03-23 22:14] #1457 closed

[2021-03-23 22:14] #1458 closed

[2021-03-23 22:14] #1460 closed

[2021-03-23 22:14] #1461 closed

[2021-03-23 22:14] #1464 closed

[2021-03-23 22:14] #1465 closed

[2021-03-23 22:14] #1467 closed

[2021-03-23 22:14] #1468 closed

[2021-03-23 22:14] #1483 closed

[2021-03-23 22:14] #1485 closed

[2021-03-23 22:14] #1489 closed

[2021-03-23 22:14] #1490 closed

[2021-03-23 22:14] #1493 closed

[2021-03-23 22:14] #1495 closed

[2021-03-23 22:14] #1496 closed

[2021-03-23 22:14] #1499 closed

[2021-03-23 22:14] #1502 closed

[2021-03-23 22:14] #1503 closed

[2021-03-23 22:15] #1351 closed

[2021-03-23 22:15] #1455 closed

[2021-03-23 22:15] #1506 closed

[2021-03-23 22:15] #1508 closed

[2021-03-23 22:15] #1509 closed

[2021-03-23 22:15] #1512 closed

[2021-03-23 22:15] #1514 closed

[2021-03-23 22:15] #1516 closed

[2021-03-23 22:15] #1517 closed

[2021-03-23 22:15] #1522 closed

[2021-03-23 22:15] #1523 closed

[2021-03-23 22:15] #1525 closed

[2021-03-23 22:15] #1526 closed

[2021-03-23 22:15] #1527 closed

[2021-03-23 22:15] #1536 closed

[2021-03-23 22:15] #1544 closed

[2021-03-23 22:15] #1545 closed

[2021-03-23 22:15] #1547 closed

[2021-03-23 22:15] #1552 closed

[2021-03-23 22:15] #1558 closed

[2021-03-23 22:15] #1559 closed

[2021-03-23 22:15] #1566 closed

[2021-03-23 22:15] #1568 closed

[2021-03-23 22:16] #689 closed

[2021-03-23 22:16] #1324 closed

[2021-03-23 22:16] #1333 closed

[2021-03-23 22:16] #1336 closed

[2021-03-23 22:16] #1379 closed

[2021-03-23 22:16] #1443 closed

[2021-03-23 22:16] #1572 closed

[2021-03-23 22:16] #1582 closed

[2021-03-23 22:16] #1584 closed

[2021-03-23 22:16] #1585 closed

[2021-03-23 22:16] #1588 closed

[2021-03-23 22:16] #1602 closed

[2021-03-23 22:16] #1604 closed

[2021-03-23 22:16] #1607 closed

[2021-03-23 22:16] #1611 closed

[2021-03-23 22:16] #1613 closed

[2021-03-23 22:16] #1615 closed

[2021-03-23 22:16] #1616 closed

[2021-03-23 22:16] #1624 closed

[2021-03-23 22:16] #1633 closed

[2021-03-23 22:16] #1636 closed

[2021-03-23 22:16] #1637 closed

[2021-03-23 22:16] #1638 closed

[2021-03-23 22:16] #1639 closed

[2021-03-23 22:16] #1640 closed

[2021-03-23 23:11] msalsbery commented on #1753
This may be related to a Webkit bug...I'm documenting it and working on a fix, will link this issue

[2021-03-24 01:25] msalsbery opened #1962 "WebKit Pointer Event Implicit Capture Bug"
## Applies To

Pointer events, touch devices, on WebKit-based browsers.

## Issue

Scenario: A parent and a child element, both with pointerdown event handlers. Depending on application's need, when a pointerdown occurs on the child, it should be ignored and the parent (when pointer down bubbles) will want to capture the pointer:

1. pointerdown on child
1. child calls hasPointerCapture and determ

[2021-03-24 01:30] msalsbery commented on #1938
This may be related to a Webkit bug, see #1962

Working on a workaround...

[2021-03-24 01:31] msalsbery commented on #1618
This may be related to a Webkit bug, see #1962

Working on a workaround...

[2021-03-24 01:32] msalsbery commented on #1408
This may be related to a Webkit bug, see #1962

Working on a workaround...

[2021-03-24 07:23] amroc-dev commented on #1753
Current release yes. 2.4.2, installed via npm. Thx!

[2021-03-24 07:24] amroc-dev commented on #1753
Brilliant, thank you.

[2021-03-24 07:52] msalsbery commented on #1753
@amroc-dev

The WebKit bug affects overlaid elements on the viewer but should be ok with a standalone viewer.

Have you tried the preview builds of 3.0.0 yet? Curious if there’s improvements there...[you can get builds and links to demos here](https://github.com/openseadragon/openseadragon/pull/1872#issuecomment-673608460).

I do want to get a workaround in for the WebPack issue before we release

[2021-03-24 08:02] amroc-dev commented on #1753
@msalsbery I haven't, I will do and report back. Thanks again :)

[2021-03-24 11:01] amroc-dev commented on #1753
@msalsbery Ok I haven't yet tried the new build with my project, because I tried one of the demo links (https://openseadragon-imaging.github.io/#/imaginghelper), and I can confirm that exhibits the same slowdown behaviour under the same conditions I described earlier.

[2021-03-24 15:01] PoorBillyPilgrim commented on #1938
Since submitting this issue, I resolved the performance issue totally by beginning the viewer initialization with `fetch`.

Originally, the viewer was initialized by passing the id of the image to tileSource:

[code]
This resulted in a jerky performance on mobile. Then, to solve a different issue, I needed to grab the image size the .dzi's XML file to precisely place the HTML overlay. I used `fetc

[2021-03-24 16:51] dhandeeswaran opened #1963 "Openseadragon with openSeaDragonFabricJsoverlay plugin issue on rotate with drawer annotation"
am using openseadragon , openseadragonfabricoverlay plugin, I have successfully integrate with angular 10 its working fine. I can draw rectangle, circle, line, polyline , etc.., on the images, and also panning, zooming is working excellent with annotation, but the issue is rotate the select single tile (image)  from multiple images with  annotation like rectangle, circle, etc.. when rotating the i

[2021-03-24 18:29] sanioka commented on #893
✅ My solution:
`        .openseadragon-canvas:focus {
            outline: none;
        }`

[2021-03-25 13:51] tommypreger commented on #381
I'm having this issue with a project I'm currently working on: https://urbanomonte-4db4a.web.app/
Currently it will not work on Safari or Chrome on my Iphone.

Interesting findings:

My openseadragon div is set to be **100%** width and **100vh** height, covering the whole window. If I make it smaller it seems to work, and if I then go into fullscreen it continues working! I would prefer not to use

[2021-03-25 17:12] msalsbery commented on #381
@tommypreger

Looks good on my iPhone, tested on Safari, Chrome, and Edge

[2021-03-26 08:37] tommypreger commented on #381
@msalsbery

Thanks for testing! I came here to edit the post. I did some changes to the code and now it seems to work for me too.

I inspected the size of the canvas in Fullscreen mode vs my width/height 100% div and found that the Fullscreen canvas actually was a bit smaller, which probably is why it worked.

In my research I found out that **100vh** includes the part of the screen hidden behind

[2021-03-26 11:25] ronnymikalsen commented on #1763
@iangilman Thank you for your review!

I have made the changes that you requested. Please review again.

[2021-03-26 18:43] iangilman commented on #381
@tommypreger That's a really cool project! When you're ready to share it more widely, it would be great if you could add it to http://openseadragon.github.io/examples/in-the-wild/… Just make pull request against https://github.com/openseadragon/site-build/blob/master/www/in-the-wild.html to do so.

[2021-03-26 20:29] iangilman commented on #1924
@sandhya212 are you still having trouble with this? What's the current state?

[2021-03-26 20:44] #1763 closed

[2021-03-26 22:31] iangilman commented on #1963
Looks like this issue might be relevant: https://github.com/altert/OpenseadragonFabricjsOverlay/issues/9

[2021-03-26 23:54] dabomb1004 commented on #1947
Sam sorry for the late response. We ended up modifying the openseadragon.min.js file we used and added an s3 presigner function in javascript to the line in around 5370 which has the getTileUrl for Zoomify ` getTileUrl: function(e, t, i) {
        var n;
        var o = this._calculateAbsoluteTileNumber(e, t, i);
        n = Math.floor(o / 256);
        var url = this.tilesUrl + "TileGroup" + n +

[2021-03-27 17:15] sandhya212 commented on #1924
Hi Ian, Thank you for checking.
I still do have trouble and am currently trying the project on Python Dash.
I shall close this thread.

[2021-03-27 17:15] #1924 closed

[2021-03-30 12:21] umitoguz opened #1964 "multi image tiff to openseadragon"
hi, i have  multi tiff image in 2 pages.İ convert to tiff javascript base64 and split.But i dont show in openseadragon.Can u help me?

[code]

[2021-03-30 13:42] sanioka commented on #1240
Popular IIIF viewer like OpenLayers (7000+ github stars) also has this feature out of the box.
https://openlayers.org/en/latest/apidoc/module-ol_interaction_DragZoom-DragZoom.html

demo
https://openlayers.org/en/latest/examples/iiif.html

Do you have any plan to implement it to OpenSeadragon?

[2021-03-30 18:41] iangilman commented on #1924
@sandhya212 well, let me know if you want help! If so, it would be useful to see the current state of your code and your folder structure.

[2021-03-31 18:20] iangilman commented on #1964
If you have a data URI, you'll want to use the "Simple Image" tile source:

http://openseadragon.github.io/examples/tilesource-image/

That'll look something like:

[code]

You just need the URL; you don't need to turn it into an image yourself.

[2021-03-31 18:24] iangilman commented on #1240
As far as I know, there has been no progress on this. I still think in the context of OpenSeadragon it makes more sense as a plugin, but I certainly would love to see it happen! Any interest in building it, @sanioka?

[2021-03-31 20:00] msalsbery commented on #1240
I agree...it can be done relatively easily as a plugin. The [openseadragon-viewerinputhook plugin](https://github.com/openseadragon-imaging/openseadragon-viewerinputhook) (or equivalent) was meant for stuff like this, making it easy to mix in new functionality with the existing viewer functionality.

[2021-04-01 07:37] aslan-itc opened #1965 "Overlay to Imageposition in every Tile"
Hi,

i have a overlay, for example at position x1=0.75210682645089000, x2=0.77021505589436000, y1=0.40701790039554000, y2=0.41883590276918000 and if the user zooms and mouseover it he see the full resulting rect at this coordinates.
Then i try to find out the imagecoordinates of this overlay for every tile becaus i want to replace the overlay with an other image.

[code]

This works fine and i get

[2021-04-01 09:37] umitoguz commented on #1964
i solved it thank you.

[2021-04-01 09:37] #1964 closed

[2021-04-02 11:07] umitoguz opened #1966 "viewer.addTiledImage why not adding tileSources or tileSource 2 pages?"
[code]

[2021-04-02 12:47] aslan-itc commented on #1965
Before it gets to complex i need the imagecoordinates of an overlay for any Tile normalized. So that the zoom level doesnt affects to this coordinates.

[2021-04-02 18:45] iangilman commented on #1965
So you want to know where the overlay overlaps each tile? In the tile's coordinate system? Or the image's coordinate system? I'm curious, what do you want to do with that information? In general, most things can be accomplished without thinking at the individual tile level.

Anyway, getting the overlay location in image coordinates is the first step. Seems like you've got that working. Then you wo

[2021-04-02 21:05] Aiosa commented on #1008
Is it possible to preserve transparency with webGL canvas? When registered on `tile-drawing` event, the areas set to `vec4(0, 0, 0, 0)` became black rather than show the content beneath. My question is - is there a way to prevent something in OpenSeadragon that clears the canvas? Or do I misunderstand something? Either way, with `tile-loaded` there is no such issue, though there are other loading-

[2021-04-03 09:50] aslan-itc commented on #1965
![image](https://user-images.githubusercontent.com/81740529/113474366-ed648280-946f-11eb-88cc-1367dc2da1dc.png)

Ok let me explain better. I have an overlay which is clickable that works fine. After a click i manipulate/edit exactly the image on the positions of that overlay with another image. For that i need the image coordinates of that overlay in every tile.

![image](https://user-images.githu

[2021-04-07 18:19] iangilman commented on #1966
@umitoguz I'm not sure what your question is. If you want to add multiple tiled images, you can certainly call `addTiledImage` as many times as you want. Also `viewer.open` can take an array, as can the `tileSources` property of the viewer creation config object.

[2021-04-07 18:25] iangilman commented on #1008
@Aiosa are your tiles in PNG format with transparency? That's the first step.

I see you've also filed https://github.com/thejohnhoffer/viaWebGL/issues/10, which is good, since it sounds like the issue may be specific to that plugin.

[2021-04-07 18:35] iangilman commented on #1965
Thank you for the context! I suppose this is exactly what the TiledImage does as it draws (identifying which tiles are currently visible), but I don't think we really expose an easy API to access that information. You might take a look at the TiledImage drawing code for ideas.

At any rate, each successive layer of the pyramid is twice as big (or twice as small, depending on which way you're going

[2021-04-07 20:12] Aiosa commented on #1008
@iangilman  Partially I was able to solve it, though I don't know if it does not create some overhead. Plugin passes the data with `tile-loaded` event in URL which was pretty slow and also created visual artifacts on loading. I am still unsure how OSD works internally - for each tile source, there is one layer of canvas that is drawn onto? Or do all the tilesources share one layer?

1) on `tile-lo

[2021-04-07 20:37] Graynomad opened #1967 "Unable to open [object Object]: HTTP 404 attempting to load TileSource"
I see this has been reported before but although the issue was closed it was not resolved as far as I could tell.

[code]
I've tried the following

`tileSources: "../photos/_zoomables/21124/"`
403 error

`tileSources: "../photos/_zoomables/21124/ImageProperties.xml"`
404 error

`tileSources: "www.robgray.com/photos/_zoomables/21124/ImageProperties.xml"`
404 error

If I just type the fully-qualifie

[2021-04-08 18:21] iangilman commented on #1008
My understanding of https://github.com/thejohnhoffer/viaWebGL is that it doesn't convert the entire drawing process to WebGL; it just allows you to use WebGL shaders to modify the tiles. @thejohnhoffer please correct me if I'm wrong. So I don't expect that that plugin would improve performance. @Aiosa are you using the shader modification facility of that plugin?

I think the first step, if you wa

[2021-04-08 18:26] iangilman commented on #1967
I think you may need the `http://`, like so:

`tileSources: "http://www.robgray.com/photos/_zoomables/21124/ImageProperties.xml"`

Assuming the HTML file is on www.robgray.com, this relative URL should also work:

`tileSources: "/photos/_zoomables/21124/ImageProperties.xml"`

[2021-04-08 18:30] iangilman commented on #774
Fixed by https://github.com/openseadragon/openseadragon/pull/1865

[2021-04-08 18:30] #774 closed

[2021-04-08 18:31] iangilman commented on #1861
Fixed by https://github.com/openseadragon/openseadragon/pull/1865

[2021-04-08 18:31] #1861 closed

[2021-04-09 04:14] Graynomad commented on #1967
Neither option helps unfortunately

![9-04-2021 11-27-50 AM](https://user-images.githubusercontent.com/388406/114116736-87bd3e00-9928-11eb-849a-9e2d673fab8f.jpg)

Same result with both options.

Rob

[2021-04-09 09:59] Aiosa commented on #1008
Yeah, it does not convert the process of drawing to webGL. However, I am not drawing the tile data I get, I am processing it (three different values stored in RGB) and it can be faster with shaders rather than plain javascript (per-pixel tile processing, edge detection etc...). I am not sure what format is being sent to me, however, I **know** the incoming data has four components: RGBA. The trans

[2021-04-09 14:14] Aiosa commented on #1008
Maybe it would be cool to also consider replacing hard-coded target for tile (`canvas` or `div`) with a custom class provider that would allow plugins to override the behaviour of drawing a tile. It could just specify the interface and one method `registerCustomProvider(...)` or something similar that would behave as needed.

e.g.
[code]
could become
[code]
or even do not specify the canvas at all

[2021-04-09 18:23] iangilman commented on #1967
Oh! I finally paid closer attention to the file at http://www.robgray.com/photos/_zoomables/21124/ImageProperties.xml... it's not in the correct format. I assume it's supposed to be a DZI? This is what a DZI should look like:

[code]

Where did you get that file?

[2021-04-09 21:55] Graynomad commented on #1967
A year or two back I had working Zoomify images on the site. All the tiles and this XML were produced by the Zoomify app at the time.

It seems though that DZI is the going thing these days so maybe I should swap over. I would hate to have to redo all the tiles though.

[2021-04-09 22:15] msalsbery commented on #1967
@Graynomad

I haven't looked yet to see what's already there, but if necessary it should be relatively easy to make a tile source that'll work with your images without you having to change the images...

[2021-04-09 23:50] Graynomad commented on #1967
OK I seem to have it working, but only after much Googling.

I looked at the simple example on the SD web site but that points to a DZI file. I downloaded the DZI composer but there are so many options it's hard to figure out what to export. No option exports a DZI file.

Eventually I find a forum post where MS says "Oh didn't you know, the dzc_output.xml file is actually a dzi file.

So I point t

[2021-04-12 07:19] umitoguz commented on #1966
i have 2 page(multi tiff) image.When i want to show them.I success only directly write `var viewer = OpenSeadragon({
                            id: "openseadragon1",
                            prefixUrl: "/Scripts/openseadragon/images/",
                            crossOriginPolicy: 'Anonymous',
                            sequenceMode: true,
                            ajaxWithCredentials: fal

[2021-04-12 10:00] msalsbery commented on #1966
@umitoguz

In the original code you posted you were calling the OpenSeadragon function in every iteration of the for loop. If you want one viewer then one should be constructed outside the loop then images added inside the loop.

is your code working now?

[2021-04-12 11:13] umitoguz commented on #1966
Viewer is out of the For loop.But i call url with GET  XMLHTTPREQUEST.Has the openseadragon  close or flush?

[2021-04-12 11:32] umitoguz commented on #1966
in the light of this event Am I use addTiledImage with multiple tilesources?

[2021-04-12 15:50] cactusjosh commented on #1908
Hate to be the bearer of bad vibes but I still have this issue. My local version of openseadragon is the latest. I am using OSD with react and have two zoom in/out buttons built in react. Any ideas without posting a code sample?

[2021-04-12 18:43] iangilman commented on #1008
Yes, having a WebGL renderer would be awesome! There's discussion about that in #68 and #1482, but as far as I know there hasn't been any progress on making it happen. I expect it'll be a good chunk of work. If you're interested in pursuing it, I'm happy to help you understand the code.

And yes, it would be great if we had a better mechanism for creating/using tile data on the fly. Some discussio

[2021-04-12 18:50] iangilman commented on #1967
Oh, it's Zoomify! We support that format as well, but not in the way you were trying. Take a look at:

http://openseadragon.github.io/examples/tilesource-zoomify/

In your case it might be something like:

[code]

I'm not sure if the tilesUrl is correct... you know your folder structure better than I.

With an image that big, I think it is better to go with a tiled system... 15000 pixels is a bit

[2021-04-13 11:11] umitoguz commented on #1966
Am i open multiple tilesources? Look like that;

       viewer.open({
                                    tileSources: [
                                        {
                                            type: 'image',
                                            url:im1
                                          },
                                        {

[2021-04-13 18:27] iangilman commented on #1966
This should work:

[code]

[2021-04-13 18:28] iangilman commented on #1908
@cactusjosh when you say the latest, do you mean the most recent release, or did you build from the repository master branch? This change hasn't been released yet, but it is on master.

[2021-04-14 05:56] umitoguz commented on #1966
you are awesome.it worked thank you so much. I'm closing the issue.

[2021-04-14 05:57] #1966 closed

[2021-04-15 14:06] Aiosa commented on #866
I would like to share a much better way of doing this. I was struggling with a similar scenario: the user has direct control on values that control how the tiles are being drawn. Going every time to the server for the original images took a bit of time, but attached on a slider and updating `onchange` it was pretty cumbersome.

You can instead remember a timestamp when last the tile was drawn:

[c

[2021-04-16 15:21] ibrrus opened #1969 "Getting the current level (zoom)"
Hello.
I am making an interactive map on which I plot several hundred points of interest and I want them to decrease as these points approach (depending on the level/zoom).

Now I am using the following code to get the level:
`viewer.world.getItemAt(0).lastDrawn[0].level`

Is there a function for better obtaining such a simple value?

[2021-04-16 18:33] iangilman commented on #1946
@ruqayya are you saying you want access to the pixels so you can do computer vision stuff to them? Or are you just wanting to shift the images around by some known amount?

[2021-04-17 21:01] Graynomad commented on #1967
All working well now. I gave up on using the Zoomify tiles and swapped over to DZ. All good now.

What I would like to do now is launch an image into full screen mode by clicking on another image. Is there some example JS code and an API call to do this?

[2021-04-19 18:33] iangilman commented on #1969
The current zoom is available from `viewer.viewport.getZoom()`.

[2021-04-19 18:35] iangilman commented on #1967
You should be able to launch the viewer into fullscreen with `viewer.setFullScreen(true)`.

[2021-04-20 10:21] Graynomad commented on #1967
This doesn't work,

[code]

which was a quicky to see if anything happened (nothing did).

But anyway I want to invoke the view from another image's onClick() function.

I've Goggled 'till I'm blue in the face and can't find an example of doing this.

[2021-04-21 00:34] Graynomad commented on #1967
Looks like you don't need an onClick() function, I have a working test file, here is the relevant code for future searches.

[code]

[2021-04-21 16:48] bennettrogers opened #1970 "How to replace the tile URL in a custom TileSource without disrupting the viewer?"
I've been really enjoying working with OpenSeadragon!

I'm trying to figure out the best approach for a somewhat complicated feature. I'm using a custom TileSource that uses `getTileUrl` to fetch tiles from an S3 bucket. (I don't think it's relevant, but I'm also using range requests to get the tiles from a single image, so the tile URL is the same for every tile.) I'm trying to make it more secur

[2021-04-21 18:23] iangilman commented on #1967
Right on. That definitely works. I think the reason the other one wasn't working is that the browser requires user interaction before going fullscreen. Calling the fullscreen function from within a click handler satisfies that requirement.

[2021-04-22 18:26] msalsbery commented on #1970
This is a tough one currently...If I'm reading the code correctly, it looks like the URL and AJAX headers are tied up once an image's Tile objects are created and added to TiledImage.tilesMatrix. I don't see a public, documented way of manipulating TiledImage.tilesMatrix...

It's not uncommon for server APIs to update tokens periodically, so I think enhancing the AJAX tile loading support  with th

[2021-04-22 18:36] iangilman commented on #1970
@msalsbery agreed... having a smoother way to handle this scenario seems like a good enhancement!

[2021-04-22 18:38] msalsbery commented on #1970
@iangilman  Thanks! :)

If I'm following correctly, the only tricky issue is when previously-loaded tiles need reloading - at that point they'd have the old URL. I think your idea would cover that.

And if I'm way off base, then never mind ;)

[2021-04-23 02:37] bennettrogers commented on #1970
@msalbery brings up a good point – using rotating tokens for authenticating image requests is probably a more common use case than what I'm trying to do, and it leads to this same issue. In either case, you'd need a way to update the URLs and/or headers for any future tile fetches, both for tiles that you've already cached and unseen tiles.

@iangilman yes, it's possible to know ahead of time that